<div class="container-fluid" id="contenedor_mis_colecciones">
  <div class="container-fluid" id="cabezal_mis_colecciones">
    <div class="container">
      <div class="col-sm-12" id="contenedor_items_cabezal_mis_colecciones">
        <div class="" id="contenedor_titulos_cabezal_mis_colecciones">
          <h1 id="titulo_mis_colecciones"><span class="icono_cabezal icon-folder-open-o"></span>
            {{translation.MY_COLLECTIONS}}</h1>
          <h2 class="llamada" id="llamada_mis_colecciones">{{translation.HELLO_COLLECTIONS}}</h2>
          <h3 class="blanco">{{user.name}} {{user.lastName}}</h3>
        </div>
        <div class="" id="contenedor_botones_cabezal">
          <button class="btn btn-predeterminado"
            onclick="window.location.href ='/collections/create'">{{translation.ADD_COLLECTION}} <span
              class="icono_boton icon-create_new_folder"></span></button>
          <button class="btn btn-primario"
            onclick="window.location.href = '/audioannotations/create'">{{translation.UPLOAD_AUDIONOTATION}} <span
              class="icono_boton icon-file_upload"></span></button>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div class="col-sm-12 contenedor-90vh " id="contenedor_general_mis_colecciones">
      <div class="contenedor_tabla_mis_colecciones">
        <table class="tabla_mis_colecciones">
          <thead>
            <th class="cabezal_columnas_th" id="th_coleccion">
              <div class="contenedor_etiquetas_barras_busqueda">
                <label class="label label_junto_flechas">Colección</label>
                <button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
                <button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
              </div>
              <input class="input_busqueda" type="search" placeholder="Búsqueda">
            </th>
            <th class="cabezal_columnas_th">
              <div class="contenedor_etiquetas_barras_busqueda">
                <label class="label label_junto_flechas">Lengua terminal</label>
                <button class="flecha_orden_ascendente active"><span class="icon-arrow-up"></span></button>
                <button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
              </div>
              <input class="input_busqueda" type="search" placeholder="Búsqueda">
            </th>
            <th class="cabezal_columnas_th">
              <div class="contenedor_etiquetas_barras_busqueda">
                <label class="label label_junto_flechas">Gpos. de lenguas</label>
                <button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
                <button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
              </div>
              <input class="input_busqueda" type="search" placeholder="Búsqueda">
            </th>
            <th class="cabezal_columnas_th">
              <div class="contenedor_etiquetas_barras_busqueda">
                <label class="label label_junto_flechas">Comunidades</label>
                <button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
                <button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
              </div>
              <input class="input_busqueda" type="search" placeholder="Búsqueda">
            </th>
            <th class="" id="th_acciones">

            </th>

          </thead>
          {{#each collections}}
          <tr>
            <td>
              <strong><i>{{name}}</i></strong>
            </td>
            <td class="" data-label="Lengua terminal (glottocode)">
              {{#each languages}}
              {{language.gid}}<span class="lengua_term_comun"
                data-label="Lengua terminal (nombre común)">{{language.name}}</span><br>
              {{/each}}
            </td>
            <td class="grupo_lenguas" data-label="Grupo de lenguas (glottocode)">
              {{#each languages}}
              {{LanguageGroup.gid}}<span class="grupo_lengua_comun"
                data-label="Grupo de lenguas (nombre común)">{{LanguageGroup.name}}</span><br>
              {{/each}}
            </td>
            <td id="mostrar-hr" class="comunidades"><span class="pais">
                {{#each localities}}
                México</span><span class="estado">{{Nom_Ent}}</span><span class="comunidad">{{Nom_Loc}}</span><span
                class="municipio_tabla">{{Nom_Mun}}</span><span class="localizacion">{{Lat_Decimal}}
                {{Lon_Decimal}}</span>
              <hr class="hr_divisor_comunidad">
              {{/each}}
            </td>
            <td class="td_acciones">
              <div class="contenedor_botones_accion">
                <button onclick="syModals.show('{{name}}','{{description}}')" aria-hidden="true"
                  class="btn_accion_tabla"><span class="icono_accion_tabla  icon-info1"></span></button>
                <button class="btn_accion_tabla"><span class="icono_accion_tabla  icon-launch"></span></button>
                <button data-target='dropdown{{_id}}' class='dropdown-trigger'><span
                    class="icono_accion_tabla icon-ellipsis-v"></span></button>
                <div id='dropdown{{_id}}' class='contenido_modal_elipsis'>
                  <span class="icono_cerrar_modal_elipsis icon-close "></span>
                  <div class="contenedor_opciones_elipsis">
                    <a class="btn_opciones_ellipsis_mis_colecciones" href="#"><span
                        class="icono_opcion_elipsis icon-file_upload"></span> Cargar audioanotación</a>
                    <a class="btn_opciones_ellipsis_mis_colecciones" href="/collections/edit/{{_id}}"><span
                        class="icono_opcion_elipsis icon-edit"></span> Editar metadatos</a>
                    <form class="center" action="/collections/delete/{{_id}}?_method=DELETE" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <a onclick="this.parentNode.submit()" class="btn_opciones_ellipsis_mis_colecciones" href="#"><span
                          class="icono_opcion_elipsis icon-delete"></span> Eliminar</a></form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {{/each}}
        </table>
        <div class="contenedor_paginacion">
          <div class="contenedor_input_paginacion">
            <input class="" id="busqueda_paginacion" type="text" placeholder="Pag.">
            <button class="btn_lateral_input" for="busqueda_paginacion"><span
                class="icono_pagina_busqueda  icon-chevron-right"></span></button>

          </div>
          <div class="contenedor_numeros_paginacion">
            <a class="icono_paginacion" href="#"><span class="icon-first_page"></span></a>
            <a class="icono_paginacion" href="#"><span class="icon-angle-left"></span></a>
            <a class="numero_paginacion" href="#">2</a>
            <a class="numero_paginacion" href="#">3</a>
            <a class="numero_paginacion" href="#">4</a>
            <a class="numero_paginacion active" href="#">5</a>
            <a class="numero_paginacion" href="#">6</a>
            <a class="numero_paginacion" href="#">7</a>
            <a class="ultima_pagina" href="#">...29</a>
            <a class="icono_paginacion" href="#"><span class="icon-angle-right"></span></a>
            <a class="icono_paginacion" href="#"><span class=" icon-last_page"></span></a>
          </div>

        </div>
      </div>
    </div>

  </section>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
</script>
