<footer class="page-footer blue darken-4">
  <div class="container-fluid contenedor_ancho_total back_aqua_0">
    <div class="container contenedor_footer">
       <a href="mailto: sylard.admon@gmail.com">
        {{translation.FOOTER.CONTACT}}: sylard.admon@gmail.com
      </a>
      <!--
      <a href="/terms">
        {{translation.FOOTER.TERMS}}
      </a>-->
      <!--
      <a href="#">
        {{translation.FOOTER.NOTICE_PRIVACY}}
      </a>
      -->
       <a href="mailto: contacto@drakoestudio.com.mx">
        {{translation.FOOTER.DEVELOPED}}
      </a>
      <a href="https://github.com/rivalcoba/sylard00" target="_blank">
        <span class="icono_footer icon-github"></span>
      </a>
      <p>
        © {{translation.FOOTER.SYLARD_RESERVED}}
      </p>
      <img src="/images/favicon_sylard3.svg" alt="Logo SYLARD" />
    </div>
  </div>
</footer>