<div class="container-fluid back_aqua">
   <a href="javascript:history.back()" style="position: absolute; "> <img src="/images/arrow_back_white_24dp.svg" style="margin-top:3px; " width="" alt="Back" ></a>
  <!--INICIA barra de navegacion superior-->
  <nav id="navbar_public_s" class="container contenedor_ancho_area_principal">
   
    <div class="contenedor_switch float_left">
      
      {{#if es}}
      <label class="texto" for="checkbox">
        ESP
      </label>
      <a href="" onclick="myI18n.setLang('en')">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span></a>
      </label>
      <label class="texto" for="checkbox">
        ENG
      </label>
      {{else}}
      <label class="texto" for="checkbox">
        ESP
      </label>
      <a href="" onclick="myI18n.setLang('es')">
        <label class="switch">
          <input type="checkbox" checked />
          <span class="slider round"></span></a>
      </label>
      <label class="texto" for="checkbox">
        ENG
      </label>
      {{/if}}
    </div>

    <div class="barra_superior_elemento float_left active">
      {{#if user}}
      <a id="home" href="/dashboard">
        <span class="icono icon-home1"></span>
        SYLARD
      </a>
      {{else}}
      <a id="home" href="/">
        <span class="icono icon-home1"></span>
        SYLARD
      </a>
      {{/if}}
    </div>
    <div class="barra_superior_elemento float_right">
      <!-- SI ES UN SUARIO -->
      {{#if user}}
      <div class="barra_superior_elemento dropdown_menu_usuario float_right">
        <button class="dropbtn_barra_superior">
          <div class="contenedor_icono_usuario">
            <img src="{{user.image}}" alt="Contact Person" class="imagen_icono_usuario"> </div>
          {{user.name}} {{user.lnInitial}}.
          <span class="icono icon-angle-down" id="flecha_dropdow_barra_superior"></span>
        </button>
        <div class="contenido_dropdown_menu_usuario">
          {{#if user}}
          <a href="/user/edit"><span class="icono_dropdown_menu_usuario_item icon-edit"></span>
            {{translation.HEADER.EDIT_USER}}</a>
          <a href="/user/edit/password"><span class="icono_dropdown_menu_usuario_item icon-key1"></span>
            {{translation.HEADER.EDIT_PASSWORD}}</a>
          {{/if}}
          <a href="#"><span class="icono_dropdown_menu_usuario_item icon-folder-open-o"></span>
            {{translation.HEADER.EXPLORE}}</a>
          {{#ifColaborator user}}
          <a href="/collections">
            <i class="fa fa-book"></i> {{translation.HEADER.MY_COLLECTIONS}}
          </a>
          {{/ifColaborator}}
           {{#ifSu user}}
      <a href="/collections">
        <i class="fa fa-book"></i> {{translation.HEADER.MY_COLLECTIONS}}
      </a>
      {{/ifSu}}

      {{#ifSu user}}
      <a href="/user">
        <i class="fa fa-book"></i> {{translation.HEADER.USERS}}
      </a>
      {{/ifSu}}
          {{#ifSu user}}
      <a href="/genres/">
        <i class="fa fa-book"></i>  {{translation.HEADER.FIELDS_EDITOR}}
      </a>
      {{/ifSu}}

          {{#hideIfSu user}}
          <a href="/dashboard">
            <i class="fa fa-table"></i> {{translation.NAVBAR.CATALOGUE}}
          </a>
          {{/hideIfSu}}
          <a class="dropdown_menu_usuario_logout" href="/auth/logout"><span
              class="icono_dropdown_menu_usuario_item icon-log-out"></span> {{translation.HEADER.LOGOUT}}</a>
        </div>
        {{else}}
        <a id="login" href="/auth/login">
          {{translation.HEADER.LOGIN}}<span class="icono icon-login"></span></a>
      </div>
      <div class="barra_superior_elemento float_right">
        {{!-- {{#unless onRegisterPage}}--}}
        <a id="register" href="/auth/register">
          {{translation.HEADER.REGISTER}} <span class="icono icon-person"></span>
        </a>
        {{!-- {{/unless}} PERMITE OCULTAR LE BARRA DE NAVEGACIÓN DE REGISTRO--}}
        {{/if}}
      </div>
    </div>
  </nav>
</div>
   <script>
         if (window.location.pathname == `/genres/` || window.location.pathname == `/user`) {
            var navbar = document.getElementById("navbar_public_s");
            navbar.className="contenedor_ancho_area_principal";
         }
       </script>