<h1>Audio Annotations Play</h1>
<!--<div id="app2">
    <LecturaTierEAF>
       aqui
       {{{filename}}}
   aqui
 </div>
</LecturaTierEAF>
</div>
-->
<div> Crear audioannotations</div>
<!--
<form action="/audioannotations/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" />
   <input type="submit" value="Upload a file"/>
</form>-->
{{#unless filename}}
<form action="/audioannotations/uploadfile" method="POST" id="form" name="chargeAudio" enctype="multipart/form-data">
   <label for="profilePic"></label>
   <input id="file" type='file' name="myFile" />
   <!--<input type="submit">-->
</form>
{{/unless}}


{{#if filename}}


<div>Archivo Cargado: {{filename}}</div>

<form class="col s12" action="/audioannotations/add" method="post" id='form2'>
   <!--
<input type="file"
       id="eaf" name="eaf"
       accept="eaf/eaf">
       <br><br>

       a_id:String,
  eaf:String,
  titulo:String,
  description: { type: String },
  genero:String,
  duracion:String,
  mp3_url:String,
  https://code.tutsplus.com/es/tutorials/file-upload-with-multer-in-node--cms-32088  -->
   <div>
      <input value="{{filename}}" type="hidden" id="eaf" name="eaf"><br><br>
   </div>

   <div>
      <label for="mp3_url">MP3</label>
      <input type="text" id="mp3_url" name="mp3_url" value="https://cdn.glitch.com/31e1c313-9473-4a67-b370-cbebc80a47b2%2FWhatsApp%20Audio%202020-11-09%20at%2020.55.02.mpeg"><br><br>
      <a href="#" onclick="pageScripts.loadMp3()">LOAD AUDIO</a>
   </div>

   <div>
      <label for="duracion">Duracion</label>
      <input readonly type="text" id="duracion" name="duration"><br><br>   
   </div>

   <div>
      <label for="titulo">Titulo:</label>
      <input type="text" id="titulo" name="title"><br><br>
   </div>
   
   <div>
      <label for="descripcion">Descripcion:</label>
      <input type="text" id="description" name="description"><br><br>
   </div>

   <div>
      <label for="colectionSelect">Coleccion:</label>
      <select onchange="pageScripts.fillGlottologSelect()" id="colectionSelect" name="colection">
         <option value="" disabled selected>Seleccione una opción</option>
         {{#each collections}}
         <option value="{{_id}}" name="{{name}}">
            {{name}}
         </option>
         {{/each}}
      </select>
   </div>   
   
   <div>
      <label for="glottologSelect">Lengua Terminal y Grupo de lenguas</label>
      <select id="glottologSelect" name="gid">
      </select>
   </div>

   <div>
      <label for="localitiesSelect">Comunidad a la que pertenece</label>
      <select id="localitiesSelect" name="location">
      </select>
   </div>

   <div>
      <label for="genreSelect">Género a la que pertenecessss</label>
      <select name="genre" id="genreSelect">
         {{#each genreArray}}
         <option value="{{_id}}" name="{{name}}">
            {{name}}
         </option>
         {{/each}}
      </select>
   </div>

   

   <div id="app2">
      <LecturaTierEAF>
      </LecturaTierEAF>
   </div>

   <div >
      <button type="submit">Submit</button>
   </div>
   
</form>
{{/if}}
<script>
   
   /*
   const $form    = document.querySelector('#form5')

   $form.addEventListener('submit', (event) =>  {
     event.preventDefault()
      const formData  =new FormData (event.currentTarget)
   //debugger
  // var longitud = "hola";
   longitudmp3()
   //formData.set('duration',longitud)
   //console.log("longitud Final")
   //console.log(longitudmp3())
   })*/

   function leer_eaf() {
      var leer = require('./converteaftojson');
   }

   function longitudmp3() {
      var duration;
      //const mp3file = 'https://raw.githubusercontent.com/prof3ssorSt3v3/media-sample-files/master/doorbell.mp3'
      //const mp3_f=document.getElementById("mp3_url");
      const mp3file = document.getElementById("mp3_url").value;
      //console.log(mp3file.value)
      const audioContext = new (window.AudioContext || window.webkitAudioContext)()
      const request = new XMLHttpRequest()
      request.open('GET', mp3file, true)
      request.responseType = 'arraybuffer'
      request.onload = function () {
         audioContext.decodeAudioData(request.response,
            function (buffer) {
               var duration = buffer.duration
               console.log("longitud")
               console.log(duration)
               longitud = duration
               var inputDuration = document.getElementById("duracion");
               inputDuration.value = duration;

               //document.write(duration)
            }
         )
      }
      request.send()
      //return duration
   }
   //Envio automatico de formulario
   window.addEventListener("load",function(){
		chargeAudio = document.chargeAudio;
		file = document.chargeAudio.file;
		campoError = document.getElementById("error");
		
		file.addEventListener("input",function(){
			campoError.innerHTML= "";
		});
		file.addEventListener("change",envioAutomatico);
	});

	function uploadAudionn(e){
		e = e || window.event;	
		if(file.value==""){ 
			e.preventDefault(); 
			campoError.innerHTML ="Datos sin completar";
		}else{
			console.log("Necesita cargar un archivo");
		};
	};

	function envioAutomatico(){
		chargeAudio.addEventListener("submit",uploadAudionn);
		chargeAudio.submit();
	}
</script>

