<div class="container-fluid" id="contenedor_agregar_audioanotacion">
   <div class="container-fluid" id="cabezal_agregar_audioanotacion">
      <div class="container">
         <div class="col-sm-12" id="contenedor_items_cabezal_agregar_audioanotacion">
            <div class="" id="contenedor_titulos_cabezal_agregar_audioanotacion">
               <h1 class="blanco" id="titulo_agregar_audioanotacion"><span
                     class="icono_cabezal icon-file_upload"></span> {{translation.UPLOAD_AUDIONOTATION}}</h1>
               <h2 class="llamada" id="llamada_agregar_audioanotacion">{{translation.COMPLETE_FIELDS}}</h2>
            </div>
         </div>
      </div>
   </div>
   <section class="container">
      <div class="col-sm-12 contenedor-90vh" id="contenedor_general_agregar_audioanotacion">
         <div class="contenedor_establecer_origen_archivos_audioanotacion">
            {{#unless filename}}
            <form action="/audioannotations/uploadfile" method="POST" name="chargeAudio" id="form"
               enctype="multipart/form-data">
               <div class="contenedor_input_seleciona_origen_audioanotacion">
                   <label class="label label_al_100" id="selecciona_archivo_eaf"
                     for="selecciona_archivo_eaf_input">{{translation.Select_the_file_ending_with_eaf}}</label>
                  <input class="input_flexible" id="file" type='file' name="myFile" placeholder="Seleccionar el archivo"
                     required>
                  <div class="contenedor_icono_correcto_input">
                     <p><span class="icono_correcto_input icon-check_circle"></span></p>
                  </div>
                  <div class="contenedor_icono_error_input">
                     <p><span class="icono_error_input icon-error"></span></p>
                  </div>
               </div>
            </form>
            {{/unless}}
            {{#if filename}}
            <div class="contenedor_tiempo">
               <label class="label label_al_100" for="selecciona_archivo_eaf_input">{{translation.File_uploaded_successfully}}</label>
               <input class="nombre_archivo_selecionado_input" value="{{filename}}" disabled>
               <div class="contenedor_icono_correcto_input">
                  <p><span class="icono_correcto_input icon-check_circle"></span></p>
               </div>
               <div class="contenedor_icono_error_input">
                  <p><span class="icono_error_input icon-error"></span></p>
               </div>
               <label class="" for="duracion"><span
                     class="icono_duracion icon-clock-o"></span></label>
               <input class="duracion_input" disabled type="text" id="duracion" name="duration">
            </div>
            {{/if}}
         </div>
         <form action="/audioannotations/add" method="post" id='form2'>
            <div class="contenedor_input_seleciona_origen_audioanotacion">
               <input value="{{filename}}" type="hidden" id="eaf" name="eaf"><br><br>
               <label class="label label_al_100" id="selecciona_url_mp3" for="selecciona_url_mp3_input">{{translation.Enter_the_audio_URL_in_mp3}}</label>
               <input onblur="pageScripts.loadMp3()" type="text" id="mp3_url" name="mp3_url"
                  value="https://cdn.glitch.com/31e1c313-9473-4a67-b370-cbebc80a47b2%2FWhatsApp%20Audio%202020-11-09%20at%2020.55.02.mpeg"
                  class="input_flexible"
                  placeholder="Pega la URL de la ubicaci칩n del archivo con terminaci칩n &quot.mp3&quot" required>
               <div class="contenedor_icono_correcto_input">
                  <p><span class="icono_correcto_input icon-check_circle"></span></p>
               </div>
               <div class="contenedor_icono_error_input">
                  <p><span class="icono_error_input icon-error"></span></p>
               </div>
            </div>
            <div class="contenedor_input_agregar_audioanotacion">
               <label class="label label_al_100" for="titulo_audioanotacion_input">{{translation.Title}}</label>
               <input class="input_flexible" id="titulo" name="title" type="text"
                  placeholder="Titulo breve (max 120 car치cteres)" maxlength="120" required>
               <div class="contenedor_icono_correcto_input">
                  <p><span class="icono_correcto_input icon-check_circle"></span></p>
               </div>
               <div class="contenedor_icono_error_input">
                  <p><span class="icono_error_input icon-error"></span></p>
               </div>
            </div>
            <div class="contenedor_input_agregar_audioanotacion">
               <label class="label label_al_100" id="descripcion_de_la_audioanotacion"
                  for="descripcion_audioanotacion_input">{{translation.Description_of_the_audio_annotation}}</label>
               <textarea type="text" id="description" name="description" class="input_flexible" type="textarea"
                  placeholder="Breve descripcion (max 200 car치cteres)" maxlength="200" rows="5" required></textarea>

            </div>
            <div class="contenedor_input_agregar_audioanotacion">
               <label class="label label_al_100" id="seleccion_coleccion_audioanotacion_label"
                  for="seleccion_coleccion_audioanotacion_input">{{translation.Collection_to_which_it_belongs}}</label>
               <select  class="input_flexible" onchange="pageScripts.fillGlottologSelect()" id="colectionSelect"
                  name="colection" required>
                  <option value="" disabled selected>{{translation.SELECT_AN_OPTION}}</option>
                  {{#each collections}}
                  <option value="{{_id}}" name="{{name}}">
                     {{name}}
                  </option>
                  {{/each}}
               </select>
               <div class="contenedor_icono_correcto_input">
                  <p><span class="icono_correcto_input icon-check_circle"></span></p>
               </div>
               <div class="contenedor_icono_error_input">
                  <p><span class="icono_error_input icon-error"></span></p>
               </div>
            </div>
            <div class="contenedor_flex_audioanotacion">
               <div class="contenedor_flex_tercio_audioanotacion">
                  <label class="label label_al_100" id="seleccion_comunidad_audioanotacion_label"
                     for="seleccion_comunidad_audioanotacion_input">{{translation.Community_to_which_it_belongs}}</label>
                  <select disabled class="input_flexible" id="localitiesSelect" name="location">
                  </select>
                  <div class="contenedor_icono_correcto_input">
                     <p><span class="icono_correcto_input icon-check_circle"></span></p>
                  </div>
                  <div class="contenedor_icono_error_input">
                     <p><span class="icono_error_input icon-error"></span></p>
                  </div>
               </div>
               <div class="contenedor_flex_tercio_audioanotacion">
                  <label class="label label_al_100" id="seleccion_lengua_terminal_audioanotacion_label"
                     for="seleccion_lengua_terminal_audioanotacion_input">{{translation.Terminal_language_to_which_it_belongs}}</label>
                  <select disabled class="input_flexible" id="glottologSelect" name="gid">
                  </select>
                  <div class="contenedor_icono_correcto_input">
                     <p><span class="icono_correcto_input icon-check_circle"></span></p>
                  </div>
                  <div class="contenedor_icono_error_input">
                     <p><span class="icono_error_input icon-error"></span></p>
                  </div>
               </div>
               <div class="contenedor_flex_tercio_audioanotacion">
                  <label class="label label_al_100" id="seleccion_genero_audioanotacion_label"
                     for="seleccion_lengua_terminal_audioanotacion_input">{{translation.Genre_to_which_it_belongs}}</label>

                  <select  class="input_flexible" name="genre" id="genreSelect" required>
                     <option value="" disabled selected>{{translation.SELECT_AN_OPTION}}</option>
                     {{#each genreArray}}
                     <option value="{{_id}}" name="{{name}}">
                        {{name}}
                     </option>
                     {{/each}}
                  </select>
                  <div class="contenedor_icono_correcto_input">
                     <p><span class="icono_correcto_input icon-check_circle"></span></p>
                  </div>
                  <div class="contenedor_icono_error_input">
                     <p><span class="icono_error_input icon-error"></span></p>
                  </div>
               </div>
            </div>

            <div id="app2">
               <LecturaTierEAF>
               </LecturaTierEAF>
            </div>
            <div class="botones_agregar_audioanotacion">

               <div class="contenedor_botones">
                  <button type="reset" class="btn btn-secundario"
                     id="boton_restablecer_agregar_audioanotacion">{{translation.RESET}}</button>
                  <button type="submit" class="btn btn-primario"
                     id="boton_guardar_agregar_audioanotacion">{{translation.SAVE}}</button>
               </div>
            </div>

         </form>
      </div>

   </section>
</div>
<script>

   /*
   const $form    = document.querySelector('#form5')
   $form.addEventListener('submit', (event) =>  {
     event.preventDefault()
      const formData  =new FormData (event.currentTarget)
   //debugger
  // var longitud = "hola";
   longitudmp3()
   //formData.set('duration',longitud)
   //console.log("longitud Final")
   //console.log(longitudmp3())
   })*/
   function leer_eaf() {
      var leer = require('./converteaftojson');
   }
   function longitudmp3() {
      var duration;
      //const mp3file = 'https://raw.githubusercontent.com/prof3ssorSt3v3/media-sample-files/master/doorbell.mp3'
      //const mp3_f=document.getElementById("mp3_url");
      const mp3file = document.getElementById("mp3_url").value;
      //console.log(mp3file.value)
      const audioContext = new (window.AudioContext || window.webkitAudioContext)()
      const request = new XMLHttpRequest()
      request.open('GET', mp3file, true)
      request.responseType = 'arraybuffer'
      request.onload = function () {
         audioContext.decodeAudioData(request.response,
            function (buffer) {
               var duration = buffer.duration
               console.log("longitud")
               console.log(duration)
               longitud = duration
               var inputDuration = document.getElementById("duracion");
               inputDuration.value = duration;
               //document.write(duration)
            }
         )
      }
      request.send()
      //return duration
   }

   window.addEventListener("load", function () {
      let chargeAudio = document.chargeAudio;
      let file = document.chargeAudio.file;
      let campoError = document.getElementById("error");

      file.addEventListener("input", function () {
         campoError.innerHTML = "";
      });
      file.addEventListener("change", envioAutomatico, false);
   });
   function uploadAudionn(e) {
      e = e || window.event;
      if (file.value == "") {
         e.preventDefault();
         campoError.innerHTML = "Datos sin completar";
      } else {
         console.log("Necesita cargar un archivo");
      };
   };
   function envioAutomatico() {
      chargeAudio.addEventListener("submit", uploadAudionn);
      chargeAudio.submit();
   }
</script>