	<style type="text/css">
      div[id^="txt-current_"] {
        background-color: #eeeeee;
      }

      #player-title-box {
        padding: 2rem;
    	padding-top: 3rem;
    	background-color: white;
      }

      /*#txt_sync_content {
        padding: 0px 36px;
		border: 2px red solid;
		  
      }*/

      #spkr_keys_box {
        margin-top: 0px;
        margin-bottom: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 22px;
		padding-left: 1.75rem;
		padding: 1rem;
		  
      }

      .spkr_key {
        font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 16px;
		font-weight: 600;  
        margin-right: 8px;
        display: inline;
      }

      .spkr_name {
        font-weight: 600;
    	font-size: 1.325rem;
    	line-height: 1.875rem;
    	margin-top: .125rem;
    	color: var(--gris-texto-principal);
    	margin-right: .25rem;
		  
		 /* font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 18px;
        margin-right: 8px;
        display: inline;
        font-style: italic;
		border: 2px solid pink; */ 
      }
		.spkr_name_jr {
    font-size: .75rem;
    font-weight: 400;
    color: #999999;
    font-family: 'Raleway', Helvetica, sans-serif;
			
			
			
		}
      #sync_player {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      #gloss-box {
        width: 100%;
        min-height: 65px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
		/*border: 2px solid darkgreen;  */
      }

      div.glossTable {
        width: 100%;
        text-align: left;
        min-height: 30px;
        margin-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
		/*border: 2px solid red;    */
      }
      .divTable.glossTable .divTableRow {
        font-size: 18px;
        line-height: 26px;
		  /*border: 2px solid yellow;*/
      }
      .divTable.glossTable .divTableCell {
        font-family: 'Raleway', Helvetica, sans-serif;
		  /*border: 2px dashed violet; */
      }
      .divTable.glossTable .spkr {
        width: 55px;
		  /*border: 2px dashed purple;*/ 
      }
      div.scrollTable {
        width: 100%;
        height: 470px;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        overflow-y: visible;
        background-color: #ffffff;
        /*border: dotted 5px yellowgreen;*/
      }
      div.scrollTableCont {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
		 /* border: dotted 3px red;*/
      }
      .divTable.scrollTableCont .divTableRow {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
		  /*border: dotted 3px blueviolet;*/
      }
      .divTable.scrollTableCont .divTableCell {
        font-family: 'Merriweather', Times, serif;
		  /*border: dashed 3px orange;*/
      }
      .divTable.scrollTableCont .spkr {
        width: 55px;
        margin-right: 4px;
        font-weight: normal;
        padding-left: 12px;
		 /* border: dashed 3px brown;*/
      }
      .divTable.scrollTableCont .spkr:hover {
        cursor: pointer;
        font-weight: bold;
		  /*border: double 3px red;*/
      }
      .divTable.scrollTableCont .spkn {
        margin-left: 8px;
        padding-right: 12px;
		  /*border: double 1px gray;*/
      }

      .divTable {
        display: table;
		  /*border: double 1px blueviolet;*/
      }
      .divTableRow {
        display: table-row;
		  /*border: dotted 6px green;*/
      }
      .divTableCell {
        display: table-cell;
		  /*border: dotted 6px black;*/
      }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <div class="container-fluid back_aqua_0">
			<nav class=" container contenedor_barra_nav_publico">
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_1"><span class="icono_nav_publico icon-home1"></span></a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_2">Catálogo</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_3">Documentación</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_4">Manual de usuario</a>		
				<h1 class="logo_menu" id="bnpe_5">SYLARD</h1>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_6">Contacto</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_7">Descargas</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_8">Términos y condiciones</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_9">Creditos</a>
			</nav>
		</div>
    <main>
<div>
    <div class="container-fluid" id="contenedor_viewer_ancho_total">
      <section class="container">
        <div class="col-sm-12 contenedor-90vh" id="contenedor_general_viewer">
<!-- EAF VIWER -->
<table id="maintable" cellspacing="0">
  <tr style="width: 100%">
    <td class="middlecenter" colspan="3">
      <div
        id="innertext"
        style="padding-left: 0px; padding-right: 0px; padding-top: 0px">
        
        <!-- Title Box -->
        <div id="player-title-box">
          <h2><i>
            {{{title}}}
          </h2>
        </div>
<!-- Speaker Panel -->
<div ></div>
        <div id="spkr_keys_box">
          <div
            style="float: left; cursor: pointer"
            onclick="toggleDisplayPanel();"
            title="Toggle Display Panel">
            <div
              id="plusButton"
              style="display: flex; align-items: center">
              <img
                style="border: 0px; margin-right: 8px"
                src="/img/plus.png"/>
              Opciones Visuales
            </div>
            <img
              id="minusButton"
              style="border: 0px; display: none"
              src="/img/minus.png"/>
          </div>
        </div>
        <div id="spkr_keys" style="display: none; ">
          {{#each tierArr}}
            <!-- PADRE TIER - PARTICIPANT N -->
            <table>
              <tr>
                <td WIDTH="25"  >
          
              <input
                type="checkbox"
                class="check-pres"
                
                id="check-tier-{{this.participant}}"
                value="{{this.participant}}"
                onchange='changePresCheck("{{this.participant}}");toggleSpeaker("{{this.participant}}");'/>
                </td>
                <td>
                <h4>
                <span class="spkr_name">
                  {{this.participant}}
                </span>            
                </h4>
            </td>
            </tr>
            </table>
            <!-- Hijo Tier n -->
            {{#each this.tiers}}
            
                <table>
                  
                   
                  
            <div>
           
            
              <!-- SPAN 1 -->  
              <td WIDTH="50"  >
              <span
                id="key-{{name}}"
                class="spkr_key"
                style="color: #{{color}};">
                {{code}}
              </span>
              </td WIDTH="100px" >
              <!-- SPAN 3 -->
              <td WIDTH="200px"  >
                <h5>
              <span 
                class="spkr_name" style="">
                {{name}}
              </span>
              </h5>
              </td>
                 <!-- INPUT 1 -->
                 <td>
                   <label for="checbox_canal_1" id="switch_usuario_canal1_on" class="swich_etiqueta_opcion2_compacto">ON</label>
               <label class="switch_general">
              <input
                type="checkbox"
                style="width:10px"
                class="checkbox_canal1"
                name="check-tier-{{../participant}}"
                id="checkbox-{{name}}"
                onchange='changeTierCheck("{{../participant}}");toggleTier("{{name}}");'
                value="{{name}}"
                checked/>
                   <span class="slider_general round"></span
                    >
                </label>
                <label for="checkbox" id="switch_canal1_off" class="swich_etiqueta_opcion1_compacto">OFF</label>
                </td>
              <!-- Select 01 -->
              <td>
              <select
                id="{{name}}-display"
                style="width:120px"
                onchange="changeTierPlacement('{{name}}');">
                {{#with (lookup ../../dataArr [name])}}
                  <option value="top">One-line display</option>
                  <option value="bottom" {{displayBool}}>Scrolling</option>
                {{/with}}
              </select>
              </td>

                <!-- INPUT 2 -->
              <td>
              <input
                id="color-{{name}}"
                class="color"
              style="width:120px"
                 
                value="{{color}}"
                onchange='changeTierColor(this.value,"{{../participant}}","{{name}}");'/>
                </td>
            </div>
            </tr>
                </table>
            
            {{/each}}
          {{/each}}
        </div>
        
        <!-- PLAYER -->
        
        <div
          id="player_area"
          style="width: 100%; margin-left: auto; margin-right: auto">
          <audio
            onclick="sync(this.currentTime)"
            onmousemove="sync(this.currentTime)"
            ontimeupdate="sync(this.currentTime)"
            id="sync_player"
            controls="true">
            <source
              src="{{audioFile}}"
              type="audio/mpeg"
              onerror="alertMLoadErr();">
          </audio>
        </div>
        

<!--EAF BOX -->
<hr>
        <div id="gloss-box">
          <div id="txt_refs" class="divTable glossTable">
          </div>
        </div>
        <hr>


<div class="contenedor_multilinea">
        <div id="txt_lns" class="scrollTable">
        </div>
        </div>

      </div>
    </td>
  </tr>
</table>
<!-- EAF VIWER -->


</div>
      </section>
    </div>
    <!--				
    <button @click="play">Play/Pause</button>-->
  </div>
     

</main>
      