<input id="colorPicker" type="text" hidden>
<script>
    let elemento_link = document.getElementById('home');
  elemento_link.setAttribute("class", "active_a");
</script>
<!--INICIA barra de navegacion publico-->
<div class="container-fluid back_aqua_0">
  <nav class="container contenedor_barra_nav_publico">
    {{#if user}}
    <a id="home" class="barra_nav_publico_elemento" href="/dashboard" id="bnpe_1">
      <span class="icono_nav_publico icon-home1"></span>
    </a>
     {{else}}
     <a class="barra_nav_publico_elemento" href="/" id="bnpe_1">
      <span class="icono_nav_publico icon-home1"></span>
    </a>
      {{/if}}
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_2">
      {{translation.NAVBAR.CATALOGUE}}
    </a>
    <a class="barra_nav_publico_elemento" href="/documentation" id="bnpe_3">
      {{translation.NAVBAR.DOCUMENTATION}}
    </a>
    <a class="barra_nav_publico_elemento" href="/usermanual" id="bnpe_4">
      {{translation.NAVBAR.USER_MANUAL}}
    </a>
    <h1 class="logo_menu" id="bnpe_5">
      SYLARD
    </h1>
    <a class="barra_nav_publico_elemento" href="/contact" id="bnpe_6">
      {{translation.NAVBAR.CONTACT}}
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_7">
      {{translation.SYLARDHOME.DOWNLOADS}}
    </a>
    <a class="barra_nav_publico_elemento" href="/terms" id="bnpe_8">
      {{translation.FOOTER.TERMS}}
    </a>
    <a class="barra_nav_publico_elemento" href="/credits" id="bnpe_9">
      {{translation.NAVBAR.CREDITS}}
    </a>
  </nav>
</div>
<!--TERMINA barra de navegacion publico-->
    <main>
<div>
    <div class="container-fluid" id="contenedor_viewer_ancho_total">
      <section class="container">
        <div class="col-sm-12 contenedor-90vh" id="contenedor_general_viewer">
<!-- EAF VIWER -->

 
   
      <div
        id="innertext"
        style="padding-left: 0px; padding-right: 0px; padding-top: 0px">
        
        <!-- Title Box -->
        
          <h2>
            {{{title}}} <br>
          </h2>
   
        	<button class="contenedor_acordeon"><span class="icono_acordeon icon-chevron-down"></span> Opciones visuales</button>
<!-- Speaker Panel -->

	<div class="acordeon_panel">
						<div class="acordeon_panel_item">
      
        
        <div id="spkr_keys" style=" ">
          {{#each tierArr}}
              <div class="contenedor_canal_audioanotacion">
                            <div class="contenedor_canal_padre_compacto">
                                <div class="contenedor_hablante">
                                <p class="label label_al_100">Canal {{@index}} (hablante)</p> <!--etiqueta del hablante-->
                                
                                <!--PRIMER HABLANTE (PADRE)-->	
                                <span class="spkr_name">    {{this.participant}}</span>	
                                </div>
                                <div class="contenedor_opciones_visuales_canal1_viewer">
                                    <div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion contenedor_mostrar_canal">
                                    <!--Etiqueta superiror de columna-->
                                        <label class="label label_al_100">Mostrar</label> 
                                        <div class="contenedor_switch_canal_audioanotacion">
                                        <!--SWITCH VISUALIZACION PRIMER HABLANTE PADRE-->	
                                        <label class="swich_etiqueta_opcion1_compacto" id="switch_canal1_off">OFF</label>
                                        <label class="switch_general">
                                        <!--checkbox de SWITCH VISUALIZACION PRIMER HABLANTE PADRE-->	
                                        <input style="visibility:hidden;" type="checkbox"  class="check-pres" id="check-tier-{{this.participant}}"
                value="{{this.participant}}"
                onchange='changePresCheck("{{this.participant}}");toggleSpeaker("{{this.participant}}");'>
                                           <span class="slider_general round"></span></label>
                                        <label class="swich_etiqueta_opcion2_compacto" for="checbox_canal_1" id="switch_usuario_canal1_on">ON</label>
                                        </div>
                                        
                                    </div>
                                    <!--ETIQUETA DE COLUMNA Tipo de Visualizacion-->
                                    <div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion contenedor_visualizar_canal_en">
                                        <label class="label label_al_100">Visualizar en:</label>
                                        
                                    </div>
                                    <!--ETIQUETA DE COLUMNA Color-->
                                    <div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion color_audioanotacion">
                                        <label class="label label_al_100">Color de tipografía</label>
                                        
                                    </div>	
                                </div>
                                
                            </div>
                                
                        </div>
            <!-- Hijo Tier n -->
            {{#each this.tiers}}
            
               
                  <div class="contenedor_canal_audioanotacion">
                            <div class="contenedor_canal_hijo_compacto">
                   
                  
           
           
          
              <!-- SPAN 1 -->  
              <div class="contenedor_hablante_hijo">
  <span
                id="key-{{name}}"
                class="spkr_key"
                style="color: #{{color}};margin-right: 8px;">
                {{code}}
              </span>
   <span 
                class="spkr_name_jr" style="">
                {{name}}
              </span>
              </div>
            
        
         
                 <!-- INPUT 1 -->
                  <div class="contenedor_opciones_visuales_canal1_viewer">
                       <div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion contenedor_mostrar_canal">
                   <label for="checbox_canal_1" id="switch_usuario_canal1_off" class="swich_etiqueta_opcion2_compacto">OFF</label>
               <label class="switch_general">
              <input
                type="checkbox"
                style="width:10px"
                class="checkbox_canal1"
                name="check-tier-{{../participant}}"
                id="checkbox-{{name}}"
                onchange='changeTierCheck("{{../participant}}");toggleTier("{{name}}");'
                value="{{name}}"
                checked/>
                   <span class="slider_general round"></span
                    >
                </label>
                <label for="checkbox" id="switch_canal1_on" class="swich_etiqueta_opcion1_compacto">ON</label>
             </div>
              <!-- Select 01 -->
                 <div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion contenedor_visualizar_canal_en">
              <select class="input_flexible_compacto opciones_despliegue_viewer"
                id="{{name}}-display"
                style=""
                onchange="changeTierPlacement('{{name}}');">
                {{#with (lookup ../../dataArr [name])}}
                  <option value="top">One-line display</option>
                  <option value="bottom" {{displayBool}}>Scrolling</option>
                {{/with}}
              </select>
               </div>
                <!-- INPUT 2 -->
    	<div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion color_audioanotacion ">
											<!--SELECTOR COLOR SEGUNDO HABLANTE HIJO CAPA 3-->
											<input
                      							id="color-{{name}}"
                      							class="input_flexible_compacto"
												  style="border-right: 1rem solid #{{color}};width: 6rem;"
												  value="{{color}}"
												  onchange='changeTierColor(this.value,"{{../participant}}","{{name}}");'
                          onclick='color_pickerstart("color-{{name}}","colorPalette-{{name}}");'
                          onfocusout='color_picker_out("color-{{name}}","colorPalette-{{name}}")'
                          />
											<!--CONTENEDOR GAMA DE COLORES SEGUNDO HABLANTE HIJO CAPA 3-->
											<div onmouseover="check_in_palette()" onmouseout="check_out_palette()" class="palette"  id="colorPalette-{{name}}">

<div  class='color-option' style='background-color:#000000' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#666666' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#999999' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#1B227E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#123EB7' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#0086CC' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#166404' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#00861F' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#75C30C' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#810707' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#C60000' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#F74E4E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#624504' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#AC7802' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#DDB200' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#540F72' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#782FA5' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#A458BF' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#A33E19' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#DD6600' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#FF9300' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#135C6E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#15C1D1' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#7ECEDE' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div>

                      </div>
										</div>
                    </div>

                    
<!--fin estilos hijo-->
            </div>
            </div>
            <!--fin estilos hijo-->
            {{/each}}
          {{/each}}
        </div>
        	</div>
					</div>
        <!-- PLAYER -->
        
        <div
          id="player_area"
          style="margin-top: 1rem">
          <audio
            onclick="sync(this.currentTime)"
            onmousemove="sync(this.currentTime)"
            ontimeupdate="sync(this.currentTime)"
            id="sync_player"
            controls="true">
            <source
              src="{{audioFile}}"
              type="audio/mpeg"
              onerror="alertMLoadErr();">
          </audio>
        </div>
        

<!--EAF BOX -->
<hr>
        <div id="gloss-box">
          <div id="txt_refs" class="divTable glossTable">
          </div>
        </div>
        <hr>


<div class="contenedor_multilinea">
        <div id="txt_lns" class="scrollTable">
        </div>
        </div>

      </div>
  


<!-- EAF VIWER -->


</div>
      </section>
    </div>
    <!--				
    <button @click="play">Play/Pause</button>-->
  </div>
     

</main>
      