<input id="colorPicker" type="text" hidden>
<div id="colorPalette"></div>
    <div class="container-fluid back_aqua_0">
			<nav class=" container contenedor_barra_nav_publico">
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_1"><span class="icono_nav_publico icon-home1"></span></a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_2">Catálogo</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_3">Documentación</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_4">Manual de usuario</a>		
				<h1 class="logo_menu" id="bnpe_5">SYLARD</h1>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_6">Contacto</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_7">Descargas</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_8">Términos y condiciones</a>
				<a class="barra_nav_publico_elemento" href="#" id="bnpe_9">Creditos</a>
			</nav>
		</div>
    <main>
<div>
    <div class="container-fluid" id="contenedor_viewer_ancho_total">
      <section class="container">
        <div class="col-sm-12 contenedor-90vh" id="contenedor_general_viewer">
<!-- EAF VIWER -->

 
   
      <div
        id="innertext"
        style="padding-left: 0px; padding-right: 0px; padding-top: 0px">
        
        <!-- Title Box -->
        
          <h2>
            {{{title}}} <br>
            <i>{{title}}</i>
          </h2>
   
        	<button class="contenedor_acordeon"><span class="icono_acordeon icon-chevron-down"></span> Opciones visuales</button>
<!-- Speaker Panel -->


        <div id="spkr_keys_box">
          <div
            style="float: left; cursor: pointer"
            onclick="toggleDisplayPanel();"
            title="Toggle Display Panel">
            <div
              id="plusButton"
              style="display: flex; align-items: center">
              <img
                style="border: 0px; margin-right: 8px"
                src="/img/plus.png"/>
              Opciones Visuales
            </div>
            <img
              id="minusButton"
              style="border: 0px; display: none"
              src="/img/minus.png"/>
          </div>
        </div>
        <div id="spkr_keys" style="display: none; ">
          {{#each tierArr}}
            <!-- PADRE TIER - PARTICIPANT N -->
            
             
             <label for="checbox_canal_1" id="switch_usuario_canal1_on" class="swich_etiqueta_opcion2_compacto">ON</label>
               <label class="switch_general">
              <input
                type="checkbox"
                class="check-pres"
                
                id="check-tier-{{this.participant}}"
                value="{{this.participant}}"
                onchange='changePresCheck("{{this.participant}}");toggleSpeaker("{{this.participant}}");'/>
                 <span class="slider_general round"></span
                    >
                </label>
                <label for="checkbox" id="switch_canal1_off" class="swich_etiqueta_opcion1_compacto">OFF</label>
             
                <h4>
                <span class="spkr_name">
                  {{this.participant}}
                </span>            
                </h4>
            
            <!-- Hijo Tier n -->
            {{#each this.tiers}}
            
               
                  
                   
                  
            <div>
           
          
              <!-- SPAN 1 -->  
              
              <span
                id="key-{{name}}"
                class="spkr_key"
                style="color: #{{color}};">
                {{code}}
              </span>
             
              <!-- SPAN 3 -->
             
                <h5>
              <span 
                class="spkr_name" style="">
                {{name}}
              </span>
              </h5>
         
                 <!-- INPUT 1 -->
                
                   <label for="checbox_canal_1" id="switch_usuario_canal1_on" class="swich_etiqueta_opcion2_compacto">ON</label>
               <label class="switch_general">
              <input
                type="checkbox"
                style="width:10px"
                class="checkbox_canal1"
                name="check-tier-{{../participant}}"
                id="checkbox-{{name}}"
                onchange='changeTierCheck("{{../participant}}");toggleTier("{{name}}");'
                value="{{name}}"
                checked/>
                   <span class="slider_general round"></span
                    >
                </label>
                <label for="checkbox" id="switch_canal1_off" class="swich_etiqueta_opcion1_compacto">OFF</label>
             
              <!-- Select 01 -->
            
              <select
                id="{{name}}-display"
                style="width:120px"
                onchange="changeTierPlacement('{{name}}');">
                {{#with (lookup ../../dataArr [name])}}
                  <option value="top">One-line display</option>
                  <option value="bottom" {{displayBool}}>Scrolling</option>
                {{/with}}
              </select>
          

                <!-- INPUT 2 -->
      
              
            
            </div>
           
    	<div class="contenedor_etiqueta_propiedad_opciones_visuales_agregar_audioanotacion color_audioanotacion ">
											<!--SELECTOR COLOR SEGUNDO HABLANTE HIJO CAPA 3-->
											<input
                      							id="color-{{name}}"
                      							class="inp input_flexible_compacto"
												  style=""
												  value="{{color}}"
												  onchange='changeTierColor(this.value,"{{../participant}}","{{name}}");'
                          onclick='color_pickerstart("color-{{name}}","colorPalette-{{name}}");'
                          />
											<!--CONTENEDOR GAMA DE COLORES SEGUNDO HABLANTE HIJO CAPA 3-->
											<div class="palette" id="colorPalette-{{name}}">

<div class='color-option' style='background-color:#000000' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#666666' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#999999' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#1B227E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#123EB7' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#0086CC' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#166404' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#00861F' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#75C30C' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#810707' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#C60000' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#F74E4E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#624504' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#AC7802' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#DDB200' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#540F72' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#782FA5' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#A458BF' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#A33E19' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#DD6600' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#FF9300' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option_more_margin' style='background-color:#135C6E' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#15C1D1' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div><div class='color-option' style='background-color:#7ECEDE' onclick='chooseColor(event,"{{../participant}}","{{name}}")'></div>

                      </div>
										</div>
            
            {{/each}}
          {{/each}}
        </div>
        
        <!-- PLAYER -->
        
        <div
          id="player_area"
          style="width: 100%; margin-left: auto; margin-right: auto">
          <audio
            onclick="sync(this.currentTime)"
            onmousemove="sync(this.currentTime)"
            ontimeupdate="sync(this.currentTime)"
            id="sync_player"
            controls="true">
            <source
              src="{{audioFile}}"
              type="audio/mpeg"
              onerror="alertMLoadErr();">
          </audio>
        </div>
        

<!--EAF BOX -->
<hr>
        <div id="gloss-box">
          <div id="txt_refs" class="divTable glossTable">
          </div>
        </div>
        <hr>


<div class="contenedor_multilinea">
        <div id="txt_lns" class="scrollTable">
        </div>
        </div>

      </div>
  


<!-- EAF VIWER -->


</div>
      </section>
    </div>
    <!--				
    <button @click="play">Play/Pause</button>-->
  </div>
     

</main>
      