<body yahoo="yahoo">
  <table width="100%"  cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td><table width="600"  align="center" cellpadding="0" cellspacing="0">
            <!-- Main Wrapper Table with initial width set to 60opx -->
            <tbody>
              <tr>
                <td><table bgcolor="#135C6E" class="top" width="100%"  align="left" cellpadding="0" cellspacing="0" style="padding:10px 10px 10px 10px;">
                    <!-- First header column with Logo -->
                    <tbody>
                      <tr>
                        <td style="font-size: 36px; color:#FFFFFF; text-align:center; font-family: serif;">SYLARD</td>
                      </tr>
                    </tbody>
                  </table>
                 </td>
              </tr>
              <tr> 
                <!-- HTML Spacer row -->
                <td style="font-size: 0; line-height: 0;" height="20"><table width="100%" align="left"  cellpadding="0" cellspacing="0">
                    <tr bgcolor="#ffffff">
                      <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                    </tr>
                  </table></td>
          
              </tr>
         
              <tr bgcolor="#fff"> 
                <!-- HTML Spacer row -->
                <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
              <tr bgcolor="#ffffff"> 
                <!-- Introduction area -->
                <td><table width="96%"  align="left" cellpadding="0" cellspacing="0">
                    <tr> 
                      <!-- row container for TITLE/EMAIL THEME -->
                      <td align="left"  style="font-size: 30px; font-weight: 600; line-height: 2rem; color: #666666; font-family: sans-serif; padding:10px 20px 0px 20px;">Promotion to collaborator</td>
                    </tr>
                    <tr> 
                      <!-- row container for Tagline -->
                      <td align="left" style="font-size: 30px; font-weight:500; color: #15C1D1; font-family: sans-serif; padding:10px 20px 0px 20px;">Hi Superuser! </td>
                    </tr>
                    <tr>
                      <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                          <tr> 
                            <!-- HTML Spacer row -->
                            <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr> 
                      <!-- Row container for Intro/ Description -->
                      <td align="left" style="font-size: 22px; font-style: normal; font-weight: 100; color: #666666; line-height: 1.8; text-align:left; padding:10px 20px 0px 20px; font-family: sans-serif;"><strong>"{{name}} {{lastName}}" <a href="mailto: {{email}}" style="color:#15C1D1">({{email}})</strong></a> applied to be promoted to Collaborator. <br>{{name}} wrote these reasons:            
                      </td>
                    </tr>
                    <tr> 
                      <!-- Row container for Intro/ Description -->
                      <td align="left" style="font-size: 18px; font-style: normal; font-weight: 400; color: #969696; line-height: 1.8; text-align:left; padding:20px 60px 20px 60px; font-family:monospace;">{{reasons}}
                      </td>
                    </tr>



                    <tr> 
                      <!-- Row container for Intro/ Description -->
                      <td align="left" style="font-size: 22px; font-style: normal; font-weight: 100; color: #666666; line-height: 1.8; text-align:left; padding:10px 20px 0px 20px; font-family: sans-serif;"> To authorize you need to do the following:
              <ol>
                <li><a href="{{loginUrl}}" style="color:#15C1D1">Login</a> to SYLARD as <strong style="color:">Superuser.</strong> </li>
                <li>Back to here and click to the next <a href="{{url}}" style="color:#15C1D1">link.</a></li>
              </ol>
              In case of refusal,   <a href="mailto: {{email}}" style="color:#15C1D1">notify the user by mail.</a>
            </td>
                    
            <tr>
                      <td  align="right" style="padding: 30px 0 0 0;" ><img src="https://i.ibb.co/895Rx4R/planta-colaborador.png" alt="" height="150px" width="" class="responsiveImage" style="align: center; padding: 0px auto;"></td>
                    </tr>
                  </table></td>
              </tr>
              
              <tr bgcolor="#135C6E"> 
                <!-- HTML spacer row -->
               
              </tr>
             
            <tr bgcolor="#135C6E">
                    <td>
               <table class="footer" width="100%"  align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center"  style="font-size: 14px; font-weight:300; line-height: 2.5em; color: #FFFFFF; font-family: sans-serif;  padding:10px 20px 0px 20px">© Derechos reservados SYLARD <img src="https://i.ibb.co/NmTxnY6/favicon-sylard3.png" alt="Sylard logo">
                      </td>
            </tr>
                      </table>
            </td>	  
                
            </tr>
    </tbody>
   </table></td>
      </tr>
    </tbody>
  </table>
  </body>
  
