<nav class="blue darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        Sylard BT
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
      
      {{!-- Rigth Nav --}}
      <ul class="right hide-on-med-and-down">
        <!-- SI ES UN SUARIO -->
        {{#if user}}
        <li>
          {{translation.WELCOME}} {{user.name}}!
        </li>
        <li>
          <a href="/dashboard">
            <i class="fa fa-table"></i> {{translation.COLLECTIONS}}
          </a>
        </li>
        {{#ifColaborator user}}
        <li>
          <a href="/collections">
            <i class="fa fa-book"></i> {{translation.MY_COLLECTIONS}}
          </a>
        </li>
        {{/ifColaborator}}
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
        {{else}}

        <li><a href="/auth/login">
            <i class="fa fa-sign-in"></i> {{translation.LOGIN}}</a>
        </li>
        {{#unless onRegisterPage}}
        <li>
          <a href="/auth/register">
            <i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.REGISTRATION}}
          </a>
        </li>
        {{/unless}}
        {{/if}}
        
        {{#if es}}
        <li>
          <a href="" onclick="myI18n.setLang('en')">
            <i class="fa fa-globe" aria-hidden="true"></i> ENG
          </a>
        </li>
        {{else}}
        <li>
          <a href="" onclick="myI18n.setLang('es')">
            <i class="fa fa-globe" aria-hidden="true"></i> ESP
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{!-- breadcrumb --}}
{{!-- <nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">First</a>
      <a href="#!" class="breadcrumb">Second</a>
      <a href="#!" class="breadcrumb">Third</a>
    </div>
  </div>
</nav> --}}

{{!-- SIDE MENU --}}
<ul class="sidenav" id="mobile-demo">
  {{#if user}}
  <li>
    <a href="/dashboard"><i class="fa fa-table"></i> {{translation.COLLECTIONS}}
    </a>
  </li>

  {{#ifColaborator user}}
    <li>
      <a href="/collections">
        <i class="fa fa-book"></i> {{translation.MY_COLLECTIONS}}
      </a>
    </li>
  {{/ifColaborator}}
  
  <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> {{translation.LOGOUT}}</a></li>
  
  <li class="divider"></li>
  {{else}}
  <li>
    <a class="waves-effect waves-light btn pink darken-2" href="/auth/login">
      <i class="fa fa-sign-in fa-inverse" style="color:white"></i> {{translation.LOGIN}}
    </a>
  </li>
  <li>
    <a href="/auth/register">
      <i class="fa fa-user-plus" aria-hidden="true"></i> {{translation.REGISTRATION}}
    </a>
  </li>
  {{/if}}
  
  {{#if es}}
  <li>
    <a href="" onclick="myI18n.setLang('en')">
      <i class="fa fa-globe" aria-hidden="true"></i> ENG
    </a>
  </li>
  {{else}}
  <li>
    <a href="" onclick="myI18n.setLang('es')">
      <i class="fa fa-globe" aria-hidden="true"></i> ESP
    </a>
  </li>
  {{/if}}
</ul>