<h2 class="center   pink-text">Añadir Colección</h2>
<p>Llena los campos correctamente</p>
<form class="col s12" action="/auth/register/user" method="post">
  <!-- Collection Name -->
  <div class="row">
    <div class="input-field col s12 m10 l8">
      <i class="fa fa-archive prefix" style="color: rgba(48, 115, 238, 0.924);" aria-hidden="true"></i>
      <label for="name">Nombre de la colección</label>
      <input id="name" type="text" name="name" {{!-- value="{{name}}" --}} /*required* />
    </div>
  </div>

  <!-- Collection Description-->
  <div class="row">
    <div class="input-field col s12 m10 l8">
      <i class="fa fa-archive prefix" style="color: rgba(48, 115, 238, 0.924);"></i>
      <label for="description">Descripción</label>
      <textarea type="text" name="description" id="description" class="materialize-textarea"
        {{!-- style="resize: none;height: 80px;" --}} ></textarea>
    </div>
  </div>

  <!-- Collections Languages -->
  <div class="row">
    <div class="input-field col s12 m10 l4">
      <i class="fa fa-language prefix" style="color: rgba(48, 115, 238, 0.924);" aria-hidden="true"></i>
      <label for="language">Lengua Terminal</label>
      <input 
        placeholder="Orizaba Nahuatl | oriz1235" 
        id="language" name="language" 
        type="text"
        onclick="pageScripts.disableLanguageGroupBox()"
        onblur="pageScripts.enableLangGroup()"
        value="{{language}}" 
        list="langlist"
        /*required*/ >
      <datalist id="langlist">
        {{#each languages}}
          <option 
          id = '{{_id}}'
          data-id = '{{_id}}'
          data-name = "{{name}}"
          value = "{{name}} | {{gid}}">
        {{/each}}
      </datalist>
    </div>
    <!-- Language Group -->
    <div class="input-field col s12 m10 l4">
      <label for="langGroup">Grupo de Lengua</label>
      <input 
        disabled 
        placeholder="Aztec | azte1234" 
        id="langGroup" 
        name="langGroup"
        list="groupLanglist"
        type="text"
        onclick="pageScripts.enableAddButton()"
        value="{{langGroup}}"
        /*required*/
      >
      <datalist id="groupLanglist">
      </datalist>
      <i 
        class="fa fa-plus-square prefix" 
        id="addBtn"
        style="color: rgba(48, 238, 143, 0.911); cursor: pointer; display:none;"
        onclick="pageScripts.addLanguage()"></i>
    </div>
  </div>

  <!-- Tabla de Resultados -->
  <div class="row">
    <div class="col s12 m10 l8">
      <table>
        <thead>
         <span style="font-weight: 700;">
           Lenguas agregadas a la colección
         </span>           
        </thead>
        <tbody id="langTable">
          {{!-- <tr>
            <td>Yolo1241</td>
            <td>Yoloxóchitl Mixtec</td>
            <td>Amuz1253</td>
            <td>Amuzgo Mixtecan</td>
            <td>
              <i class="fa fa-trash fa-2x" style="color: rgb(241, 63, 32);cursor: pointer;"></i>
            </td>
          </tr>         --}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- License-->
  <div class="row">
    <div class="input-field col s12 m10 l8">
      <i class="fa fa-creative-commons prefix" style="color: rgba(48, 115, 238, 0.924);" aria-hidden="true"></i>
      <label for="license">Licencia del Contenido</label>
      <input type="text" placeholder="CC-BY-NC-SA" name="license" id="license" list="licenseType"
        {{!-- value="{{license}}" --}}>
      <datalist id="licenseType">
        <option value="CC-BY-NC-SA">
        <option value="CC BY-SA">
      </datalist>
    </div>
  </div>
</form>