<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container-fluid" id="contenedor_agregar_coleccion">
  <div class="container-fluid" id="cabezal_agregar_coleccion">
    <div class="container">
      <div class="col-sm-12" id="contenedor_items_cabezal_agregar_coleccion">
        <div class="" id="contenedor_titulos_cabezal_agregar_coleccion">
          <h1 id="titulo_agregar_coleccion">
            <span class="icono_cabezal icon-create_new_folder"></span>
            {{translation.SYLARDCOLLECTIONS.ADD_COLLECTION}}
          </h1>
          <h2 class="llamada" id="llamada_agregar_coleccion">
            {{translation.SYLARDCOLLECTIONS.COMPLETE_FIELDS}}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div
      class="col-sm-12 contenedor-90vh"
      id="contenedor_general_agregar_coleccion"
    >
      <form id="form-collections" autocomplete="off" action="/collections/add" method="post">
        <div class="contenedor_input_agregar_coleccion">
          <label
            class="label"
            id="nombre_de_la_coleccion"
            for="nombre_coleccion"
          >
            {{translation.SYLARDCOLLECTIONS.NAME_COLLECTION}}
          </label>
          <input
            class="input_ancho_completo"
            type="text"
            id="name"
            name="name"
            placeholder="{{translation.SYLARDCOLLECTIONS.SHORT_TITLE}}"
            maxlength="120"
            required
            
          />
          <div class="contenedor_icono_correcto_input">
            <p>
              <span class="icono_correcto_input icon-check_circle"></span>
            </p>
          </div>
          <div class="contenedor_icono_error_input">
            <p>
              <span class="icono_error_input icon-error"></span>
            </p>
          </div>
        </div>
        <div class="contenedor_input_agregar_coleccion">
          <label
            class="label"
            id="descripcion_de_la_coleccion"
            for="descripcion_coleccion_input"
          >
            {{translation.SYLARDCOLLECTIONS.DESC_COLLECTION}}
          </label>
          <textarea
            class="input_ancho_completo"
            type="textarea"
            name="description"
            id="description"
            placeholder="{{translation.SYLARDCOLLECTIONS.DESC_COLLECTION_}}"
            maxlength="200"
            rows="5"
            required
            
          ></textarea>
        </div>
        <p class="label" id="lenguas_de_la_coleccion">
          {{translation.SYLARDCOLLECTIONS.LANG_COLLECTION}}
        </p>
        <div class="contenedor_etiqueta_agregar_coleccion_lenguas">
          <div class="contenedor_inputs_agregar_coleccion_lengua">
            <div class="modulo_inputs_lengua" id="">
              <label class="label label_al_100">
                {{translation.SYLARDCOLLECTIONS.LENGUAGUET}}
              </label>
             <input 
              id="language" 
              type="text" 
              placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}"
              class="input_flexible"
              onfocus="pageScripts.disableLanguageGroupBox()"
              onblur="pageScripts.enableLangGroup()"
              value="{{language}}" 
              list="langlist" 
               />
              <div class="contenedor_icono_correcto_input">
                <p>
                  <span id="languages_icon_verify"class="icono_error_input icon-error"></span>
                </p>
              </div>
              <datalist id="langlist">
             {{#each languages}}
             <option 
             id = '{{_id}}'
             data-id = '{{_id}}'
             data-name = "{{name}}"
            value = "{{name}} | {{gid}} | {{iso639P3code}}">
            {{/each}}
            </datalist>
            </div>
            <div class="modulo_inputs_lengua">
              <label class="label label_al_100">
                {{translation.SYLARDCOLLECTIONS.GROUP_LANG}}
              </label>
              <input 
              disabled 
              id="langGroup" 
              name="langGroup"
              placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}"
              list="groupLanglist"
              type="text"
              onfocus="pageScripts.enableAddButton()"
              value="{{langGroup}}" 
              class="input_flexible" 
              />
              
              
              <datalist id="groupLanglist">
             </datalist>
            </div>
            <div class="modulo_boton_lengua">
              <button class="btn_lateral_input_agregar_lengua" disabled/>
                <span id="addLangBtn" onclick="pageScripts.addLanguage()" class="icono_boton_lateral icon-plus"></span>
              </button>
            </div>
          </div>
          <div class="contenedor_lenguas_agregadas">
            <p class="label">
              {{translation.SYLARDCOLLECTIONS.LAG_ADS}}
            </p>
            <table id="languagesTable" class="tabla_lenguas_agregadas">
              <thead></thead>
               <tbody id="langTable">          
              </tbody>
            </table>
          </div>
        </div>
        <p class="label" id="comunidades_de_la_coleccion">
             {{translation.SYLARDCOLLECTIONS.COMUNITY}}
        </p>
        <div class="contenedor_etiqueta_agregar_coleccion_comunidad">
          <div class="contenedor_inputs_agregar_coleccion_comunidad2">
            <div class="contenedor_inputs_boton_lateral">
              <div class="modulo_inputs_comunidad2" id="">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.COUNTRY}}
                </label>
                <input type="text" class="input_flexible" placeholder="México" disabled/>
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span class="icono_correcto_input icon-check_circle"></span>
                  </p>
                </div>
                <div class="contenedor_icono_error_input">
                  <p>
                    <span class="icono_error_input icon-error"></span>
                  </p>
                </div>
              </div>
              <div class="modulo_inputs_comunidad2" id="">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.ENTITY}}
                </label>
                <input 
                type="text" 
                placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}"
                class="input_flexible"
                onblur="pageScripts.fillMunicipalitiesDataList()"
                onfocus="pageScripts.disableMunicipality();pageScripts.disableLocality()"
                  {{!-- onchange="pageScripts.fillMunicipalitiesDataList()"  --}}
                list="entities"
                id="entity"
                 />
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span id="entity_icon_verify" class="icono_error_input icon-error"></span>
                  </p>
                </div>
               
                 <datalist id="entities">
        {{#each entities}}
          <option 
            data-id = '{{_id}}'
            value="{{this}}">
        {{/each}}
      </datalist>
              </div>
              <div class="modulo_inputs_comunidad2">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.MUNICIPALITY}}
                </label>
                <input 
                disabled 
                placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}"
                onblur="pageScripts.fillLocalitiesDataList()" 
                onfocus="pageScripts.disableLocality()"
                type="text" list="municipalities" id="municipality"
                class="input_flexible"  />
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span class="icono_correcto_input icon-check_circle"></span>
                  </p>
                </div>
                <div class="contenedor_icono_error_input">
                  <p>
                    <span class="icono_error_input icon-error"></span>
                  </p>
                </div>
                <datalist id="municipalities">
               </datalist>
              </div>
              <div class="modulo_inputs_comunidad2">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.LOCALITY}}
                </label>
                <input
                autocomplete="off" 
                placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}"
                disabled
                type="text" 
                class="input_flexible" 
                id="locality" 
                list="localities"
                 />
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span class="icono_correcto_input icon-check_circle"></span>
                  </p>
                </div>
                <div class="contenedor_icono_error_input">
                  <p>
                    <span class="icono_error_input icon-error"></span>
                  </p>
                </div>
                <datalist id="localities">
               </datalist>
              </div>
              <div class="modulo_inputs_comunidad2" id="">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.LATITUD}}
                </label>
                <input type="text" id="lat" class="input_flexible"  disabled/>
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span class="icono_correcto_input icon-check_circle"></span>
                  </p>
                </div>
                <div class="contenedor_icono_error_input">
                  <p>
                    <span class="icono_error_input icon-error"></span>
                  </p>
                </div>
              </div>
              <div class="modulo_inputs_comunidad2" id="">
                <label class="label label_al_100">
                  {{translation.SYLARDCOLLECTIONS.LONGITUDE}}:
                </label>
                <input type="text" id="long" class="input_flexible"  disabled/>
                <div class="contenedor_icono_correcto_input">
                  <p>
                    <span class="icono_correcto_input icon-check_circle"></span>
                  </p>
                </div>
                <div class="contenedor_icono_error_input">
                  <p>
                    <span class="icono_error_input icon-error"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="modulo_boton_comunidad">
              <button class="btn_lateral_input_agregar_comunidad" disabled>
                <i id="addLocBtn" onclick="pageScripts.addLocality()" class="icono_boton_lateral icon-plus"></i>
              </button>
            </div>
          </div>
          <div class="contenedor_comunidades_agregadas">
            <p class="label">
              {{translation.SYLARDCOLLECTIONS.COMUNITIES_ADD}}
            </p>
            <table id="communityTable" class="tabla_comunidades_agregadas">
              <thead></thead>
             <tbody id="locTable">          
            </tbody>
            </table>
          </div>
        </div>
        <div class="contenedor_licencia_y_botones_agregar_coleccion">
          <div class="contenedor_licencia">
            <label class="label" for="licencia">
              {{translation.SYLARDCOLLECTIONS.CONTENT_LICENSE}}
            </label>
            <input type="text" 
            placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}" 
            name="license" 
            id="license"
            list="licenseType">
            <div class="contenedor_icono_correcto_input">
              <p>
                <span id="license_icon_verify" class="icono_error_input icon-error"></span>
              </p>
            </div>
            
            <datalist id="licenseType">
        <option value="CC-BY-NC-SA">
        <option value="CC BY-SA">
      </datalist>
          </div>
          <div class="contenedor_botones">
            <button
              type="reset"
              class="btn btn-secundario"
              id="boton_restablecer_agregar_coleccion"
            >
              {{translation.SYLARDCOLLECTIONS.RESTORE}}
            </button>
            <button
              type="submit"
              class="btn btn-primario"
              id="boton_guardar_agregar_coleccion"
            >
              {{translation.SYLARDCOLLECTIONS.SAVE}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<script>
	
//jquery country selector
$(document).ready(function(){
	//	alert("jquery is running");sdffsdf
  $("#language").change(function(){
	  let val_language= $("#language").val();
	  if(val_language=="" || val_language==null){
		  $("#languages_icon_verify").removeClass("icono_correcto_input icon-check_circle");
	 $("#languages_icon_verify").addClass("icono_error_input icon-error");
	  }
	  else{
    $("#languages_icon_verify").removeClass("icono_error_input icon-error");
	 $("#languages_icon_verify").addClass("icono_correcto_input icon-check_circle");
	  }
  });
   $("#entity").change(function(){
	  let val_entity= $("#entity").val();
	  if(val_entity=="" || val_entity==null){
		  $("#entity_icon_verify").removeClass("icono_correcto_input icon-check_circle");
	 $("#entity_icon_verify").addClass("icono_error_input icon-error");
	  }
	  else{
    $("#entity_icon_verify").removeClass("icono_error_input icon-error");
	 $("#entity_icon_verify").addClass("icono_correcto_input icon-check_circle");
	  }
  });
   $("#license").change(function(){
	  let val_license= $("#license").val();
	  if(val_license=="" || val_license==null){
		  $("#license_icon_verify").removeClass("icono_correcto_input icon-check_circle");
	 $("#license_icon_verify").addClass("icono_error_input icon-error");
	  }
	  else{
    $("#license_icon_verify").removeClass("icono_error_input icon-error");
	 $("#license_icon_verify").addClass("icono_correcto_input icon-check_circle");
	  }
  });
  
});

</script>

