<div class="row" style="background-color: rgb(91, 72, 132);">
  <div class="col s5">
    <h5 style="color: white;">Mis Colecciones</h5>
  </div>
  <div class="col s3" style="margin-top: 8px;">
    <a href="/collections/create" class="waves-effect waves-light btn"><i class="fa fa-plus-circle right"
        aria-hidden="true"></i> Crear Coleccion</a>
  </div>
  <div class="col s4" style="margin-top: 8px;">
    <a onclick="alert('under construction')" class="waves-effect waves-light btn"><i class="fa fa-upload right"
        aria-hidden="true"></i>Cargar Audio Anotiacion</a>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Lengua Terminal</th>
      <th>Grupo de lenguas</th>
      <th>Comunidades</th>
      {{#ifSu user}}
      <th>Propietario</th>
      {{/ifSu}}
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    {{#each collections}}
    <tr>
      <td> <h6>{{name}}</h6> </td>
      <td>
        {{#each languages}}
          <h5>{{language.gid}}</h5>
          <p>{{language.name}}</p>
          <div class="divider"></div>
        {{/each}}
      </td>
      <td>
        {{#each languages}}
          <h5>{{LanguageGroup.gid}}</h5>
          <p>{{LanguageGroup.name}}</p>
          <div class="divider"></div>
        {{/each}}
      </td>
      <td>
        {{#each localities}}
          <h5>{{Nom_Loc}}</h5>
          <p>{{Nom_Mun}} {{Nom_Mun}} </p>
          <p>{{Lat_Decimal}} {{Lon_Decimal}}</p>
          <div class="divider"></div>
        {{/each}}        
      </td>

      {{#ifSu ../user}}
        <td>
            <i 
              class="fa fa-user-circle-o" 
              style="color: rgb(21, 193, 209);" 
              aria-hidden="true"></i> {{user.name}}
        </td>
      {{/ifSu}}
      
      <td>
        <i 
          class="fa fa-info-circle fa-2x" 
          style="color: rgb(21, 193, 209);" 
          onclick="syModals.show('{{name}}','{{description}}')"
          aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <a href="">
        <i 
          class="fa fa-expand fa-2x" 
          aria-hidden="true" 
          style="color: rgb(21, 193, 209);"></i>&nbsp;&nbsp;&nbsp;

        </a>
        <!-- Dropdown Trigger -->
        <span class='dropdown-trigger' href='#' data-target='dropdown{{_id}}'>
          <i 
            class="fa fa-ellipsis-v fa-2x" 
            aria-hidden="true" 
            style="color: rgb(21, 193, 209);"></i>
        </span>&nbsp;&nbsp;&nbsp;
        <!-- Dropdown Structure -->
        <ul id='dropdown{{_id}}' class='dropdown-content'>          
          <li>
            <a href="#!">
              <i 
                class="fa fa-plus-circle"
                aria-hidden="true" 
                style="color:rgb(21, 193, 209);"></i> 
                Añadir AuAn
            </a>
          </li>
          <li>            
            <a 
              href="/collections/edit/{{_id}}">
              <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:rgb(21, 193, 209);"></i>
              Editar
            </a>
          </li>
          <li>
            <form 
            class="center"
              action="/collections/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <a
                onclick="this.parentNode.submit()">
                <i 
                  class="fa fa-trash-o"
                  aria-hidden="true" 
                  style="color: red;"></i> 
                Eliminar
              </a>
            </form>
          </li>
        </ul>    
      </td>
    </tr>    
    {{/each}}    
  </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {});
  });
</script>