<div class="container-fluid" id="contenedor_mis_colecciones">
  <div class="container-fluid" id="cabezal_mis_colecciones">
    <div class="container">
      <div class="col-sm-12" id="contenedor_items_cabezal_mis_colecciones">
        <div class="" id="contenedor_titulos_cabezal_mis_colecciones">
          <h1 id="titulo_mis_colecciones"><span class="icono_cabezal icon-folder-open-o"></span>
            {{translation.SYLARDCOLLECTIONS.MY_COLLECTIONS}}</h1>
          <h2 class="llamada" id="llamada_mis_colecciones">{{translation.SYLARDCOLLECTIONS.HELLO_COLLECTIONS}}</h2>
          <h3 class="blanco">{{user.name}} {{user.lastName}}</h3>
        </div>
          {{#ifColaborator user}}
        <div class="" id="contenedor_botones_cabezal">
          <button class="btn btn-predeterminado"
            onclick="window.location.href ='/collections/create'">{{translation.SYLARDCOLLECTIONS.ADD_COLLECTION}} <span
              class="icono_boton icon-create_new_folder"></span></button>
              <div ></div>
                 
          <button id="button_load_audio" class="btn btn-primario"
            onclick="IndexCollectionsScript.go_add_audion()"  >{{translation.SYLARDCOLLECTIONS.UPLOAD_AUDIONOTATION}} <span
              class="icono_boton icon-file_upload"></span></button>
         
                  {{/ifColaborator}}
        </div>
      </div>
    </div>
  </div>
    {{#ifSu user}}
      <script>var superusuario=true;
  </script>
      {{/ifSu}}
         {{#ifColaborator user}}
  <script>
    var superusuario=false;
  </script>
      {{/ifColaborator}}
 
  <div id="collections">
  </div>
  
</div>
