{{> _publicNavBar}}
<div class="container-fluid" id="contenedor_catalogo">
				<div class="container">
					<div class="col-sm-12 contenedor_cabezal_catalogo" id="">
						<img src="images/leon_catalogo.svg" alt="Imagen ornamental de textil de Huichapan" class="" id="imagen_de_catalogo">
						<div class="" id="contenedor_texto_cabezal_catalogo">
							<h1 class="">Bienvenido a nuestro catálogo</h1>
							<h2 class="llamada " id="llamada_catalogo">¡Disfruta de la diversidad de nuestras audioanotaciones!</h2>
						</div>
					</div>	
				
			
			<section class="container contenedor-90vh" id="contenedor_listado_catalogo">
				<div class="contenedor_switch_visualizar_por_en_catalogo">
								<label class="label" for="" id="">Visualizar por:</label>
								<div class="contenedor_switch_visualizacion_catalogo">
									<label class="swich_etiqueta_opcion1" for="checkbox_coleccion" id="switch_visualizar_por_audioanotacion">Audioanotacion</label>
									<label class="switch_general">
									<input type="checkbox" id="changueView" onclick="myFunction()" class="checkbox_coleccion" id="checbox_coleccion" checked>
                   					<span class="slider_general round"></span></label>
									<label class="swich_etiqueta_opcion2" for="checkbox_coleccion" id="switch_visualizar_por_coleccion">Colección</label>
								</div>
				<div class="contenedor_tabla_catalogo_colecciones">
					<table id="prueba" class="tabla_catalogo_colecciones">
       					 	<thead>
                				<th class="cabezal_columnas_th" id="th_coleccion">
									<div class="contenedor_etiquetas_barras_busqueda" >
										<label class="label label_junto_flechas">Colección</label>
										<button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
										<button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
									</div>
									<input class="input_busqueda" type="search" placeholder="Búsqueda">
								</th>
								<th class="cabezal_columnas_th">
									<div class="contenedor_etiquetas_barras_busqueda" >
										<label class="label label_junto_flechas">Lengua terminal</label>
										<button class="flecha_orden_ascendente active"><span class="icon-arrow-up"></span></button>
										<button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
									</div>
									<input class="input_busqueda" type="search" placeholder="Búsqueda">
								</th>
								<th class="cabezal_columnas_th">
									<div class="contenedor_etiquetas_barras_busqueda" >
										<label class="label label_junto_flechas">Gpos. de lenguas</label>
										<button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
										<button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
									</div>
									<input class="input_busqueda" type="search" placeholder="Búsqueda">
								</th>
								<th class="cabezal_columnas_th">
									<div class="contenedor_etiquetas_barras_busqueda" >
										<label class="label label_junto_flechas">Comunidades</label>
										<button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
										<button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
									</div>
									<input class="input_busqueda" type="search" placeholder="Búsqueda">
								</th>
								{{!--<th class="cabezal_columnas_th">
									<div class="contenedor_etiquetas_barras_busqueda" >
										<label class="label label_junto_flechas">Usuario</label>
										<button class="flecha_orden_ascendente "><span class="icon-arrow-up"></span></button>
										<button class="flecha_orden_descendente"><span class="icon-arrow-down"></span></button>
									</div>
									<input class="input_busqueda" type="search" placeholder="Búsqueda">
								</th>--}}
								<th class="" id="th_acciones">
									
								</th>
                				
        					</thead>
							  <tr>
								   {{#each collections}}
            					<td>
									<strong><i>{{name}}</i></strong><p class="primeras_palabras_descripcion_collect"></p>
								</td>
            					<td class="" data-label="Lengua terminal (glottocode)">
									  {{#each languages}}
									{{language.gid}}<span class="lengua_term_comun" data-label="Lengua terminal (nombre común)">{{language.name}}</span><br>
								 {{/each}}
								</td>
            					<td class="" data-label="Grupo de lenguas (glottocode)">
									  {{#each languages}}
									{{LanguageGroup.gid}}<span class="grupo_lengua_comun" data-label="Grupo de lenguas (nombre común)" >{{LanguageGroup.name}}</span><br>
								  {{/each}}
								</td>
            					<td class="comunidades"><span class="pais">
									  {{#each localities}}
									{{Nom_Ent}}</span>{{!--<span class="estado">{{Nom_Ent}}</span>--}}<span class="comunidad">{{Nom_Loc}}</span><span class="municipio_tabla">{{Nom_Mun}}</span><span class="localizacion">{{Lat_Decimal}} {{Lon_Decimal}}</span><hr class="hr_divisor_comunidad">
								  {{/each}}   
								</td>
								{{!--
								<td class="" data-label="Grupo de lenguas (glottocode)">	 
									{{user.name}}
								</td>--}}
								
								<td class="td_acciones ">
									<div class="contenedor_botones_accion">
										<button onclick="syModals.show('{{name}}','{{description}}')" aria-hidden="true" class="btn_accion_tabla" id="coleccion_info"><span class="icono_accion_tabla  icon-info1"></span></button>
										<button class="btn_accion_tabla"><span class="icono_accion_tabla  icon-launch"></span></button>
									</div>
								</td>
        					</tr>
							 {{/each}}    
							        					
        					
						</table>
						<!--<div id="app3"  >
    <FiltroAudioannotations parametro="hola" >

    </FiltroAudioannotations>
</div>TODO-->
						<div class="contenedor_paginacion">
							<div class="contenedor_input_paginacion">
								<input class="" id="busqueda_paginacion" type="text" placeholder="Pag.">
								<button class="btn_lateral_input" for="busqueda_paginacion"><span class="icono_pagina_busqueda  icon-chevron-right"></span></button>

							</div>
							<div class="contenedor_numeros_paginacion">
								<a class="icono_paginacion" href="#"><span class="icon-first_page"></span></a>
								<a class="icono_paginacion" href="#"><span class="icon-angle-left"></span></a>
								<a class="numero_paginacion" href="#">2</a>
								<a class="numero_paginacion" href="#">3</a>
								<a class="numero_paginacion" href="#">4</a>
								<a class="numero_paginacion active" href="#">5</a>
								<a class="numero_paginacion" href="#">6</a>
								<a class="numero_paginacion" href="#">7</a>
								<a class="ultima_pagina" href="#">...29</a>
								<a class="icono_paginacion" href="#"><span class="icon-angle-right"></span></a>
								<a class="icono_paginacion" href="#"><span class=" icon-last_page"></span></a>
							</div>
							
						</div>	
					</div>
				</div>
				
			</section>			
		</div>
	</div>		
<script>/*
function myFunction() {
  let checkBox = document.getElementById("app3");
  let prueba = document.getElementById("prueba");
  if (checkBox.checked == true){
    prueba.style.display = "block";
  } else {
     prueba.style.display = "none";TODO
  }
}*/
</script>