<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="icon" href="/images/favicon_sylard3.svg" sizes="any" type="image/svg+xml">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/style.css">
  {{#if dataArrStr}}
  <!-- >STYLES -->
  
  <link rel="icon" type="/image/png" href="/img/plus.png" />
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
   <link rel="icon" href="images/favicon_sylard3.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/css/estilos_menu.css">
  	<link rel="stylesheet" href="/fonts/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style 
    type="text/css">
        div[id^="txt-current_"] {
        background-color: #dddddd;
		font-weight: bold;
		   
      }

      #player-title-box {
        padding: 2rem;
    	padding-top: 3rem;
    	background-color: white;
      }

      /*#txt_sync_content {
        padding: 0px 36px;
		border: 2px red solid;
		  
      }*/

      #spkr_keys_box {
        margin-top: 0px;
        margin-bottom: 18px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 22px;
		padding-left: 1.75rem;
		padding: 1rem;
		  
      }

      .spkr_key {
        font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 16px;
		font-weight: 600;  
        margin-right: 8px;
        display: inline;
      }

      .spkr_name {
        font-weight: 600;
    	font-size: 1.325rem;
    	line-height: 1.875rem;
    	margin-top: .125rem;
    	color: var(--gris-texto-principal);
    	margin-right: .25rem;
		  
		 /* font-family: 'Raleway', Helvetica, sans-serif;
        font-size: 18px;
        margin-right: 8px;
        display: inline;
        font-style: italic;
		border: 2px solid pink; */ 
      }
		.spkr_name_jr {
    font-size: .75rem;
    font-weight: 600; 
    color: #999999;
    font-family: 'Raleway', Helvetica, sans-serif;
			
			
			
		}
      #sync_player {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      #gloss-box {
        width: 100%;
        min-height: 65px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
		/*border: 2px solid darkgreen;  */
      }

      div.glossTable {
        width: 100%;
        text-align: left;
        min-height: 30px;
        margin-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
		/*border: 2px solid red;    */
      }
      .divTable.glossTable .divTableRow {
        font-size: 18px;
        line-height: 26px;
		  /*border: 2px solid yellow;*/
      }
      .divTable.glossTable .divTableCell {
        font-family: 'Raleway', Helvetica, sans-serif;
		  /*border: 2px dashed violet; */
      }
      .divTable.glossTable .spkr {
        width: 55px;
		  /*border: 2px dashed purple;*/ 
      }
      div.scrollTable {
        width: 100%;
        min-height: 470px;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        overflow-y: visible;
        background-color: #ffffff;
        /*border: dotted 5px yellowgreen;*/
      }
      div.scrollTableCont {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
		 /* border: dotted 3px red;*/
      }
      .divTable.scrollTableCont .divTableRow {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
		  /*border: dotted 3px blueviolet;*/
      }
      .divTable.scrollTableCont .divTableCell {
        font-family: 'Merriweather', Times, serif;
		  /*border: dashed 3px orange;*/
      }
      .divTable.scrollTableCont .spkr {
        width: 60px;
        margin-right: 4px;
        font-weight: normal;
        padding-left: 12px;
		 /* border: dashed 3px brown;*/
      }
      .divTable.scrollTableCont .spkr:hover {
        cursor: pointer;
        font-weight: bold;
		  /*border: double 3px red;*/
      }
      .divTable.scrollTableCont .spkn {
        margin-left: 8px;
        padding-right: 12px;
		  /*border: double 1px gray;*/
      }

      .divTable {
        display: table;
		  /*border: double 1px blueviolet;*/
      }
      .divTableRow {
        display: table-row;
		  /*border: dotted 6px green;*/
      }
      .divTableCell {
        display: table-cell;
		  /*border: dotted 6px black;*/
      }
  </style>
  {{/if}}

  <title>{{title}}</title>
</head>

<body>
  <!-- HEADER -->
  {{> _header}}

  
   <!-- Flash messages -->
   {{> _flash_msgs}}

   <!-- Main Content -->
    {{{body}}}

  </div>

  <!-- FOOTER -->
  {{> _footer}}



  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></scrip>
  <!-- Materilize SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" crossorigin="anonymous"></script>
  <!-- WYSIWYG EDITOR -->  
  <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
  <!-- App scripts  -->
  <script src="/js/index.js"></script>
  <script>
  /*$(document).ready(function(){
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
  });*/

  {{!-- Editor Avanzado   --}}
  {{!-- CKEDITOR.replace('aboutUser',{
    plugins: 'wysiwygarea,toolbar,basicstyles,link'
  }); --}}
  </script>

  {{#if dataArrStr}}

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous"
  ></script>
  <script src="/javascript/shared.js"></script>
  <script src="/javascript/jscolor.js"></script>	
  <script src="/javascript/la_color_picker.js"></script>
  <script type="text/javascript">
    var media;
    var ts_start_time_array = [];
    var ts_stop_time_array = [];
    var sub_time;
    var initial_time = "";
    var initial_time_end = "";
    var current_start_time = "";
    var current_id_arr = [];
    var transArr = Array();
    var glossArr = Array();
    var speakerShowArr = Array();
    var tierShowArr = Array();
    /* DATA */
    var dataArr = JSON.parse(`{{{dataArrStr}}}`);
    
    var tierArr = JSON.parse(`{{{tierArrStr}}}`);
    
    var timeslotArr = JSON.parse(`{{{timeslotArrStr}}}`);
    
    var lineTimeArr = JSON.parse(`{{{lineTimeArrStr}}}`);

    var arreglo_elementos=[];

    $(document).ready(function () {
     // setColors();
      setData();
      for (pid in tierArr) {
        if (tierArr.hasOwnProperty(pid)) {
          var showSpeaker = false;
          var tiers = tierArr[pid].tiers;
          for (tid in tiers) {
            if (tiers.hasOwnProperty(tid)) {
              if (tierShowArr.indexOf(tid) === -1) {
                if (dataArr[tid]) {
                  var display = dataArr[tid].display;
                  var checker_display = dataArr[tid].displayTier;
                 // console.log(checker_display);
                  if (display !== "nodisplay" && checker_display===true) {
                    showSpeaker = true;
                    tierShowArr.push(tid);
                  }
                }
              }
            }
          }
          if (speakerShowArr.indexOf(pid) === -1 && showSpeaker) {
            var checkboxId = "check-tier-" + pid;
            if (document.getElementById(checkboxId)) {
              speakerShowArr.push(pid);
              document.getElementById(checkboxId).checked = true;
            }
          }
        }
      }
      setTranscriptionBox();
      initial_time = 7.746;
      initial_time_end = 7.746;
      media = document.getElementById("sync_player");
      media.setAttribute("ontimeupdate", "sync(this.currentTime)");
      media.setAttribute("onmousemove", "sync(this.currentTime)");
      media.setAttribute("onclick", "sync(this.currentTime)");
      setPlayer();
      //primePlayer();
      document.getElementById("sync_player").onmousemove();
    });

    function alertMLoadErr() {
      document.getElementById("innertext").innerHTML =
        "<h1>Failed to open media file</h1>";
    }

    function setColors() {
      for (pid in tierArr) {
        //pid == $speaker
        var tiers = tierArr[pid].tiers;
        for (tid in tiers) {
          //tid == $a_tier['TIER_ID']
          if (dataArr[tid] && dataArr[tid].color) {
            tierArr[pid].tiers[tid].color = dataArr[tid].color;
          }
        }
      }
    }

    function setData() {
      transArr = [];
      glossArr = [];
      // pid = particpant ID
      for (pid in tierArr) {
        //pid == $speaker
        var tiers = tierArr[pid].tiers;
        // tid => Tier ID
        for (tid in tiers) {
          //tid == $a_tier['TIER_ID']
          var spkr = tiers[tid].code;
          var color = tiers[tid].color;
          if (dataArr[tid]) {
            var display = dataArr[tid].display;
         //   console.log(tierShowArr);
            var lines = dataArr[tid].lines;
            for (l in lines) {
              var lineref = lines[l].lineref;
              var start = lineTimeArr[lineref].start;
              if (display === "bottom") {
                if (!transArr[start]) transArr[start] = [];
                if (!transArr[start][tid]) transArr[start][tid] = [];
                transArr[start][tid]["speaker"] = pid;
                transArr[start][tid]["color"] = color;
                transArr[start][tid]["lineref"] = lineref;
                transArr[start][tid]["start"] = lines[l].start;
                transArr[start][tid]["stop"] = lines[l].stop;
                transArr[start][tid]["spkr"] = spkr;
                transArr[start][tid]["id"] = l;
                transArr[start][tid]["value"] = sanitizar(lines[l].value);
              } else {
                if (!glossArr[lineref]) glossArr[lineref] = [];
                if (!glossArr[lineref][tid]) glossArr[lineref][tid] = [];
                if (!glossArr[lineref][tid][l])
                  glossArr[lineref][tid][l] = [];
                glossArr[lineref][tid][l]["speaker"] = pid;
                glossArr[lineref][tid][l]["color"] = color;
                glossArr[lineref][tid][l]["spkr"] = spkr;
                glossArr[lineref][tid][l]["value"] =sanitizar(lines[l].value);
              }
            }
          }
        }
      }
    }

    function setTranscriptionBox() {
      var innerHtml = '<div class="divTable scrollTableCont">';
      for (t in transArr) {
        for (s in transArr[t]) {
          var speaker = transArr[t][s]["speaker"];
          if (
            tierShowArr.indexOf(s) !== -1 &&
            speakerShowArr.indexOf(speaker) !== -1
          ) {
            var color = transArr[t][s]["color"];
            var lineref = transArr[t][s]["lineref"];
            var start = transArr[t][s]["start"];
            var stop = transArr[t][s]["stop"];
            var spkr = transArr[t][s]["spkr"];
            var id = transArr[t][s]["id"];
            var value = sanitizar(transArr[t][s]["value"]);
            innerHtml +=
              '<div name="bottom-' +
              lineref +
              '" class="divTableRow" style="color:#' +
              color +
              '" data-start="' +
              start +
              '" data-stop="' +
              stop +
              '"><div class="divTableCell spkr">' +
              spkr +
              '</div><div class="divTableCell spkn" id="' +
              id +
              '">' +
              value +
              "</div></div>";
          }
        }
      }
      innerHtml += "</div>";
      document.getElementById("txt_lns").innerHTML = innerHtml;
    }

    function setPlayer() {
      var i = 0;
      for (l in lineTimeArr) {
        ts_start_time_array[i] = timeslotArr[lineTimeArr[l]["start"]] / 1000;
        ts_stop_time_array[i] = timeslotArr[lineTimeArr[l]["stop"]] / 1000;
        if (document.getElementsByName("bottom-" + l)) {
          var element = document.getElementsByName("bottom-" + l)[0];
          if (element)
            element.childNodes[0].setAttribute(
              "onclick",
              "set_time_play_and_pause(" +
                ts_start_time_array[i] +
                ", " +
                ts_stop_time_array[i] +
                ")"
            );
        }
        i++;
      }
      if (initial_time > 0) {
        try {
          set_time_play_and_pause(initial_time, initial_time_end);
        } catch (error) {
          media.addEventListener(
            "canplay",
            function () {
              set_time_play_and_pause(initial_time, initial_time_end);
            },
            true
          );
        }
      }
    }

    function set_time_play_and_pause(start_time, end_time) {
      media.pause();
      clearTimeout(sub_time);
      play_time = Math.ceil((end_time - start_time) * 1000);
      if (play_time > 0) {
        media.currentTime = start_time;
        media.play();
        sub_time = setTimeout(function () {
          media.pause();
        }, play_time);
      }
    }

    function sync(current_time) {
      var txt_lns_rect = document
        .getElementById("txt_lns")
        .getBoundingClientRect();
      var mid_point = 460;
      var max_scroll = document.getElementById("txt_lns").scrollHeight - 470;
      var ref_id;
      var innerHtml = "";
      var i = 0;
      for (l in lineTimeArr) {
        if (
          current_time >= parseFloat(ts_start_time_array[i]) &&
          current_time <= parseFloat(ts_stop_time_array[i])
        ) {
          if (document.getElementsByName("bottom-" + l)) {
            var elements = document.getElementsByName("bottom-" + l);
            for (e in elements) {
              if (elements[e] instanceof Element) {
                elements[e].setAttribute("id", "txt-current_" + i);
                if (
                  elements[e].getBoundingClientRect().bottom >
                  txt_lns_rect.bottom
                ) {
                  var scroll =
                    elements[e].getBoundingClientRect().top -
                    txt_lns_rect.top -
                    10;
                  document.getElementById("txt_lns").scrollTop += scroll;
                }
              }
            }
          }
          if (current_start_time != ts_start_time_array[i]) {
            current_start_time = ts_start_time_array[i];
            current_id_arr = [];
            document.getElementById("txt_refs").innerHTML = "";
          }
          if (current_id_arr.indexOf(l) === -1) {
            if (glossArr[l]) {
              innerHtml = document.getElementById("txt_refs").innerHTML;
              for (s in glossArr[l]) {
                if (tierShowArr.indexOf(s) !== -1) {
                  for (n in glossArr[l][s]) {
                    var speaker = glossArr[l][s][n]["speaker"];
                    if (speakerShowArr.indexOf(speaker) !== -1) {
                      var spkr = glossArr[l][s][n]["spkr"];
                      var value = sanitizar(glossArr[l][s][n]["value"]);
                      var color = glossArr[l][s][n]["color"];
                      innerHtml +=
                        "<div class='divTableRow' style='color:#" +
                        color +
                        "'><div class='divTableCell spkr'>" +
                        spkr +
                        "</div><div class='divTableCell tran'>" +
                        value +
                        "</div></div>";
//console.log(value);
                    }
                  }
                }
              }
              document.getElementById("txt_refs").innerHTML = innerHtml;
            }
            current_id_arr.push(l);
          }
        } else {
          try {
            if (document.getElementsByName("bottom-" + l)) {
              var elements = document.getElementsByName("bottom-" + l);
              for (e in elements) {
                if (elements[e] instanceof Element) {
                  elements[e].removeAttribute("id");
                }
              }
            }
          } catch (err) {}
        }
        i++;
      }
    }

    function changePresCheck(tierID) {
      var eleName = "check-tier-" + tierID;
      var idName = "check-tier-" + tierID;
      var cbarray = document.getElementsByName(eleName);
      var checked = document.getElementById(idName).checked;
      for (i in cbarray) {
        var tierName = cbarray[i].value;
        cbarray[i].checked = checked;
        if (tierName) toggleTier(tierName);
      }
    }

    function changeTierCheck(tierID) {
      var eleName = "check-tier-" + tierID;
      var idName = "check-tier-" + tierID;
      var cbarray = document.getElementsByName(eleName);
      var tchecked = false;
      for (i in cbarray) {
        if (cbarray[i].checked === true && cbarray[i].value) tchecked = true;
      }
      document.getElementById(idName).checked = tchecked;
    }

    function restartPlayer() {
      media.currentTime = 0;
      document.getElementById("txt_refs").innerHTML = "";
      var innerHtml = "";
      var i = 0;
      for (l in lineTimeArr) {
        if (
          0 >= parseFloat(ts_start_time_array[i]) &&
          0 <= parseFloat(ts_stop_time_array[i])
        ) {
          current_start_time = ts_start_time_array[i];
          current_id_arr = [];
          document.getElementById("txt_refs").innerHTML = "";
          if (current_id_arr.indexOf(l) === -1) {
            if (glossArr[l]) {
              innerHtml = document.getElementById("txt_refs").innerHTML;
              for (s in glossArr[l]) {
                if (tierShowArr.indexOf(s) !== -1) {
                  for (n in glossArr[l][s]) {
                    var speaker = glossArr[l][s][n]["speaker"];
                    if (speakerShowArr.indexOf(speaker) !== -1) {
                      var spkr = glossArr[l][s][n]["spkr"];
                      var value = sanitizar(glossArr[l][s][n]["value"]);
                      var color = glossArr[l][s][n]["color"];
                      innerHtml +=
                        "<div class='divTableRow' style='color:#" +
                        color +
                        "'><div class='divTableCell spkr'>" +
                        spkr +
                        "</div><div class='divTableCell tran'>" +
                        value +
                        "</div></div>";
                    }
                  }
                }
              }
              document.getElementById("txt_refs").innerHTML = innerHtml;
            }
            current_id_arr.push(l);
          }
        }
        i++;
      }
    }

    function toggleTier(tierID) {
      var chkIdStr = "checkbox-" + tierID;
      if (document.getElementById(chkIdStr).checked === true) {
        tierShowArr.push(tierID);
      } else {
        var index = tierShowArr.indexOf(tierID);
        tierShowArr.splice(index, 1);
      }
    //  console.log(tierShowArr);
      restartPlayer();
      setTranscriptionBox();
      setPlayer();
    }

    function changeTierColor(color, speaker, tierID) {
      var keyID = "key-" + tierID;
      var selColor = color;
      document.getElementById(keyID).style.color = selColor;
      tierArr[speaker].tiers[tierID].color = color;
      setData();
      restartPlayer();
      setTranscriptionBox();
      setPlayer();
    }

    function changeTierPlacement(tierID) {
      var idName = tierID + "-display";
      var value = document.getElementById(idName).value;
      dataArr[tierID].display = value;
      setData();
      restartPlayer();
      setTranscriptionBox();
      setPlayer();
    }

    function toggleSpeaker(spkr) {
      var chkIdStr = "check-tier-" + spkr;
      if (document.getElementById(chkIdStr).checked === true) {
        speakerShowArr.push(spkr);
      } else {
        var index = speakerShowArr.indexOf(spkr);
        speakerShowArr.splice(index, 1);
      }
      restartPlayer();
      setTranscriptionBox();
      setPlayer();
    }

    function toggleDisplayPanel() {
      var display = document.getElementById("spkr_keys").style.display;
      if (display === "none") {
        document.getElementById("spkr_keys").style.display = "block";
        document.getElementById("plusButton").style.display = "none";
        document.getElementById("minusButton").style.display = "block";
      }
      if (display === "block") {
        document.getElementById("spkr_keys").style.display = "none";
        document.getElementById("plusButton").style.display = "flex";
        document.getElementById("minusButton").style.display = "none";
      }
    }
    
  </script>
   <script>
	var acc = document.getElementsByClassName("contenedor_acordeon");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("acordeon_activo");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
	</script>
	<script>
var acc = document.getElementsByClassName("contenedor_acordeon");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("acordeon_activo");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
function sanitizar(str){
return String(str).replace('&amp;',"&")
          .replace('&lt;',"<")
          .replace('&gt;',">")
          .replace('&quot;','"')
          .replace("&lt;/i&gt;","</i>")
}
function start_elements(tierID){
 var idName = tierID + "-display";
      var value = document.getElementById(idName).value;
      dataArr[tierID].display = value;
      setData();
      setTranscriptionBox();
      setPlayer();
}
</script>
  {{/if}}
 
</body>
	
</html>