

<h2 class="center pink-text">{{translation.EDIT_PASSWORD}}</h2>
<div class="row" style="padding-top:0px">
  <div class="col s0 m2 l3"></div>
  <form class="col s12 m8 l6 z-depth-3" style="padding: 20px; border-radius: 15px;" action="?_method=PUT" method="POST">
    
    <div class="row">
      <div class="col s0 m2 l1"></div>
      <div class="input-field col s12 m8 l10 center">
        <i class="fa fa-unlock-alt prefix" style="color: grey;" aria-hidden="true"></i>
        <label for="password">{{translation.PASSWORD}}</label>
        <input 
            id="password" 
            type="password" 
            name="password" 
            placeholder="{{translation.PASSWORD_PLACEHOLDER}}"
            class="validate">
      </div>
      <div class="col s0 m2 l1"></div>
    </div>

    <div class="row">
      <div class="col s0 m2 l1"></div>
      <div class="input-field col s12 m8 l10 center">
        <i class="fa fa-unlock-alt prefix" style="color: grey;" aria-hidden="true"></i>
        <label for="password">{{translation.CONFIRM_PASSWORD}}</label>
        <input 
          id="confirmationPassword"
          name="confirmationPassword"
          placeholder="{{translation.CONFIRM_PASSWORD_PLACEHOLDER}}"
          type="password" 
          class="validate">
      </div>
      <div class="col s0 m2 l1"></div>
    </div>
    
    <!-- BUTTON -->
    <div class="center-align">
      <button type="submit" class="btn btn-primary">
          {{translation.SAVE}}
          <i class="fa fa-floppy-o right"></i>
      </button>
    </div>
  </form>
  <div class="col s0 m2 l3"></div>
</div>