
<h3 class="center pink-text">{{translation.RESET_PASSWORD_TITLE}}</h3>
<div class="center-align">
    <p>{{translation.RESET_PASSWORD_MESSAGE}}</p>
</div>
<div class="row" style="padding-top:0px">
  <div class="col s0 m2 l3"></div>
  <form class="col s12 m8 l6 z-depth-3" style="padding: 20px; border-radius: 15px;" action="?_method=PUT" method="POST">    
    <div class="row">
      <div class="col s0 m2 l1"></div>
      <div class="input-field col s12 m8 l10 center">
        <i class="fa fa-envelope prefix" style="color: grey;" aria-hidden="true"></i>
        <label for="email">{{translation.EMAIL}}</label>
        <input
            id="email"
            placeholder="{{translation.RESET_MAIL_PLACEHOLDER}}"
            type="email"
            class="validate"
            name="email"
          required>
      </div>
      <div class="col s0 m2 l1"></div>
    </div>

    <div class="center-align">
      <button type="submit" class="btn btn-primary">{{translation.SUBMIT}}</button>
    </div>
  </form>

  <div class="col s0 m2 l3"></div>
</div>