	<div class="container-fluid" id="contenedor_restablecer_contrasena">
			<div class="extension_fondo_blanco_izquierdo d-sm-none d-md-block"></div>
			<div class="container">
				<div class="row contenedor-90vh" id="fila1_restablecer_contrasena">
					<div class="col-sm-12 col-md-7" id="columna_izquierda_restablecer_contrasena">
						<div class="" id="columna_izquierda_restablecer_contrasena_anidada">
							<h1 class=""><span class="icono_principal_mensaje icon-unlock-alt" id="icono_principal_restablecer_contrasena"></span></h1>
							<h1>{{translation.RESET_PASSWORD_TITLE}}</h1>
							<h3>¡Escríbe tu correo!<br>{{translation.RESET_PASSWORD_MESSAGE}}</h3>
							<form action="?_method=PUT" method="POST">
								<div class="contenedor_inputs_restablecer_contrasena" id="contenedor_inputs_restablecer_contrasena">
									<label class="label" for="input_email_restablecer_contrasena" id=""><span class="icon-email"></span> {{translation.EMAIL}}</label>
										<input class="input_email_restablecer_contrasena" name="email" type="email" id="email" placeholder="{{translation.RESET_MAIL_PLACEHOLDER}}" required>
										<div class="contenedor_icono_correcto_input"><p><span class="icono_correcto_input icon-check_circle"></span></p></div>
										<div class="contenedor_icono_error_input"><p><span class="icono_error_input icon-error"></span></p></div>
								</div>			
							
								<div class="contenedor_botones_restablecer_contrasena">
									<button type="submit" class="btn btn-primario" id="boton_enviar_restablecer_contrasena">{{translation.SUBMIT}}</button>
								</div>
							</form>
						</div>
					</div>
					<div class="" id="columna_derecha_restablecer_contrasena_anidada">
						<img class="" src="/images/flores_restablecer_contrasena.svg" id="img_restablecer_contrasena" alt="Flor de textil">
					</div>
				</div>
		</div>
	</div>