El usuario <strong>{{name}} {{lastName}}</strong>,
Esta solicitando ser promovido a colaborador, para autorizar la promoción siga los siguiente pasos: 
<ol>
    <li>Ingresar a SYLARD como Super Usuario: <a href="{{loginUrl}}">Ingresar a SYLARD</a> </li>
    <li>Posteriormente regresar a este correo y hacer clic
en el siguiente <a href="{{url}}">enlace</a> para promover la cuenta a "Colaborador".</li>
</ol>
<br>
En caso de negativa, notificar al usuario por correo: <a href = "mailto: {{email}}"> Enviar Correo </a>