<h1 class="center pink-text">Registro</h1>
<div class="row" style="padding-top:30px">
    <form class="col s12" action="/auth/register/user" method="post">
      <div class="row">
        <div class="input-field col s6">
          <i class="fa fa-user prefix" style="color: grey;" aria-hidden="true"></i>

          <input
            placeholder="Ingrese su nombre"
            id="name" 
            name="name" type="text" class="validate"
            value="{{name}}" required>
          <label for="nombre">Nombre</label>
        </div>

        <div class="input-field col s6">
          <input 
            placeholder="Ingrese su apellido" 
            id="lastName" 
            name="lastName" type="text" class="validate"
            value="{{lastName}}" required>
          <label for="lastName">Apellido</label>
        </div>
      </div>

    <div class="row">        
        <div class="switch col s12">
            <div class="grey-text">Registrarse como</div>
                <i class="fa fa-address-card fa-2x prefix" style="color: grey;" aria-hidden="true"></i>
            <label>
                Visitante
                <input 
                    id="role"
                    name="role"
                    type="checkbox"
                    {{!-- disabled --}}
                    >
                <span class="lever"></span>
                Colaborador
            </label>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-envelope prefix" style="color: grey;" aria-hidden="true"></i>

          <input 
            id="email" 
            type="email" 
            class="validate"
            name="email"
            required>
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-lock prefix" style="color: grey;" aria-hidden="true"></i>
          <input 
            id="password" 
            type="password" 
            name="password"
            placeholder="Debe ser al menos de 6 caracteres"
            class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-lock prefix" style="color: grey;" aria-hidden="true"></i>
          <input 
          id="confirmationPassword"
          name="confirmationPassword"
          placeholder="Debe coincidir con el de arriba"
          type="password" class="validate">
          <label for="confirmationPassword">Confirme su Password</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="fa fa-plus-square prefix" onclick="addSelection()" style="color: rgba(4, 219, 119, 0.924);"></i>          
          <label for="langSearch">Selecciona que idiomas hablas:</label>
          <input type="search" id="langSearch" list="languages">          
        </div>

        <div class="input-field col s12 m6 l6">
          {{!-- <label for="spokenLanguages">Lenguajes Seleccionados</label> --}}
          <input type="text" name="spokenLanguages" id="spokenLanguages" disabled>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-globe prefix" style="color: grey;" aria-hidden="true"></i>
          <input type="text" name="country" id="country" list="countries">
          <label for="country">Selecciona tu pais de origen</label>          
        </div>
      </div>

      <button type="submit" class="btn waves-effect waves-light">
        Submit
        <i class="fa fa-paper-plane right"></i>
      </button>
    </form>
  </div>

<datalist id="languages">
  {{#each nativeLanguages}}
    <option value="{{name}} | {{id}}">
  {{/each}}
</datalist>

<datalist id="countries">
  {{#each countries}}
    <option value="{{name_es}} | {{name_en}}">
  {{/each}}
</datalist>
<br>
<script>
  //var selectedLang = ""
  function addSelection(){
    // Getting some references
    let langSearchBox = document.getElementById('langSearch')
    let selectedLanguagesBox = document.getElementById('spokenLanguages')
    // Getting values
    let language = langSearchBox.value
    
    let separator = ','
    if(selectedLanguagesBox.value.length == 0)
    separator = ''    
    selectedLanguagesBox.value = selectedLanguagesBox.value.concat(separator, language)    
  }
</script>