<div class="container-fluid" id="contenedor_mensaje_solicitud_colaborador">
			<div class="container">
				<div class="row contenedor-90vh Fila1_mensaje" id="">
					
						<div class="contenedor_mensaje col-md-8 ">
							<h1 class=""><span class="icono_principal_mensaje icon-clock-o" id="icono_principal_mensaje_colaborador"></span></h1>
							<h2 class="blanco">{{translation.YOU_HAVE_APPLIED}}</h2>
							<h1 class="cabeza_mensaje" id="">{{translation.COLLABORATOR_}}</h1>
							<h2 class="llamada" id="llamada_colaborador"> {{translation.Appreciable}} {{name}} {{lastName}}:</h2>
							<h3 class="blanco">{{translation.SEND_COLLABORATOR}}</h3>
							<p class="parrafo_grande_blanco">{{translation.PROCESS_CONCLUDE}}</p>
							<p class="secundario_blanco parrafo_secundario_mensaje" id="">{{translation.HOURS}}</p>
						</div>
					
					<div class="contenedor_imagen_mensaje_fondo">
						<img class="" src="/images/florviento.svg" alt="Flor de viento">
					</div>
				</div>
			</div>
		</div>