<div class="container-fluid" id="contenedor_mensaje_correo">
  <div class="container">
    <div class="row contenedor-90vh Fila1_mensaje" id="">
      <div class="contenedor_mensaje col-md-8">
        <h1 class="">
          <span
            class="icono_principal_mensaje icon-email"
            id="icono_principal_mensaje_correo"
          ></span>
        </h1>
        <h1 class="cabeza_mensaje" id="">
          {{translation.CONFIRM_EMAIL}}
        </h1>
        <h2 class="llamada" id="llamada_mensaje_correo">
          {{translation.Appreciable}} 
          {{name}}
          {{lastName}}
          :
        </h2>
        <h3 class="blanco">
          {{translation.SEND_EMAIL}}
          <span class="correo_usuario_mensaje_correo"></span>
          {{email}}, {{translation.ACTIVATE_ACCOUNT}}
        </h3>
        <p class="secundario_blanco parrafo_secundario_mensaje" id="">
          {{translation.IMPORTANT_PROCESS}}
        </p>
      </div>
      <div class="contenedor_imagen_mensaje_fondo">
        <img class="" src="/images/florviento.svg" alt="Flor de viento" />
      </div>
    </div>
  </div>
</div>