<main>
		<div class="container-fluid" id="contenedor_mensaje_promocion_a_colaborador">
			<div class="container">
				<div class="row contenedor-90vh Fila1_mensaje" id="">
					
						<div class="contenedor_mensaje col-md-8 ">
							<h1 class=""><span class="icono_principal_mensaje icon-check-square-o" id="icono_principal_mensaje_promocion_a_colaborador"></span></h1>
							<h1 class="cabeza_mensaje color_principal" id="cabeza_mensaje_promocion_colaborador"> {{translation.confirm_contributor_account.auth}}</h1>
							<h2 class="llamada" id="">{{translation.confirm_contributor_account.promotion_succes}}</h2>
							<h3 id="">{{translation.confirm_contributor_account.user_mail}} <span class="correo_usuario_mensaje_promocion_a_colaborador"> {{email}} </span>{{translation.confirm_contributor_account.has_been}}</h3>
						</div>
					
					<div class="contenedor_imagen_mensaje_fondo">
						<img class="wdt-75" src="/images/planta_colaborador.svg" alt="Flor, motivo textil">
					</div>
				</div>
			</div>
		</div>
		
	</main>