<script>
  let elemento_link = document.getElementById('login');
  elemento_link.setAttribute("class", "active_a");
</script>
<div class="container-fluid" id="contenedor_login">
  <div class="extension_fondo_blanco d-sm-none d-md-block"></div>
  <div class="container">
    <div class="row contenedor-90vh" id="Fila1_login">
      <div class="col-md-5 px-4" id="columna_izquierda_login">
        <img class="wdt-75" src="/images/elotes_huichol_login.svg" id="huichol_img_login" alt="Arte Huichol maíz" />
      </div>
      <div class="col-md-7 pt-3" id="columna_derecha_login">
        <div class="" id="columna_derecha_login_anidada">
          <h1>
            {{translation.SYLARDLOGIN.LOGIN}}
          </h1>
          <h2 class="llamada" id="llamada_login">
            {{translation.SYLARDLOGIN.WELCOME}}
          </h2>
          <h3>
            {{translation.SYLARDLOGIN.TYPE_YOUR_USERNAME_AND_PASSWORD}}
          </h3>
          <br />
          <form class="formulario_contenedor_login" action="/auth/login/user" method="post">
            <div class="contenedor_inputs_login">
              <label class="label label_al_100" for="email">
                <span class="icon-email"></span>
                {{translation.SYLARDLOGIN.EMAIL}}
              </label>
              <input id="email" type="email" name="email" placeholder="{{translation.EMAIL_PLACEHOLDER}}" required />
              <div class="contenedor_icono_correcto_input">
                <p>
                  <span class="icono_correcto_input icon-check_circle"></span>
                </p>
              </div>
              <div class="contenedor_icono_error_input">
                <p>
                  <span class="icono_error_input icon-error"></span>
                </p>
              </div>
            </div>
            <div class="contenedor_inputs_login">
              <label class="label" id="label_pass_login" for="password">
                <span class="icon-lock"></span>
                {{translation.SYLARDLOGIN.PASSWORD}}
              </label>
              <input id="password" type="password" name="password" placeholder="{{translation.PASSWORD_INTRODUCE}}"
                minlength="6" required />
              <div class="contenedor_icono_correcto_input">
                <p>
                  <span class="icono_correcto_input icon-check_circle"></span>
                </p>
              </div>
              <div class="contenedor_icono_error_input">
                <p>
                  <span class="icono_error_input icon-error"></span>
                </p>
              </div>
              <button type="button" onclick="showPassword()" class="btn btn-predeterminado btn_input_derecha ml-2">
                <span class="icon-eye"></span>
              </button>
              <br />
            </div>
            <div class="contenedor_botones_login">
              <a class="" href="/user/reset/password">
                {{translation.SYLARDLOGIN.FORGOT_PASSWORD}}
              </a>
              <button type="submit" id="boton_login" class="btn btn-primario">
                {{translation.SUBMIT}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showPassword() {
    var tipo = document.getElementById("password");
    if (tipo.type == "password") {
      tipo.type = "text";
    } else {
      tipo.type = "password";
    }
  }
</script>