<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	let elemento_link = document.getElementById('register');
	elemento_link.setAttribute("class", "active_a");
</script>
<div class="container-fluid" id="contenedor_registro">
	<div class="extension_fondo_blanco d-sm-none d-md-block"></div>
	<div class="container">
		<div class="row contenedor-90vh" id="Fila1_registro">
			<div class="col-md-5 px-4" id="columna_izquierda_registro">
				<div class="" id="columna_izquierda_registro_anidada">
					<img class="mx-auto mb-2" src="/images/huichol_registro-01.svg" id="huichol_img_registro"
						alt="Arte Huichol Peyote" />
					<div class="contenedor_textos_abajo">
						<h6 class="blanco">
							{{translation.SYLARDREGISTER.IF_VISITOR}}
						</h6>
						<p class="secundario_blanco">
							{{{translation.SYLARDREGISTER.SECONDARY_WHITE}}}
						</p>
						<h6 class="blanco">
							{{{translation.SYLARDREGISTER.IF_CONTRIBUTOR}}}
						</h6>
						<p class="secundario_blanco">
							{{{translation.SYLARDREGISTER.DESCRIPTION_PARR}}}
						</p>
						<p class="secundario_blanco">
							{{{translation.SYLARDREGISTER.REGISTER_ACEPT}}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-7" id="columna_derecha_registro">
				<div class="" id="columna_derecha_registro_anidada">
					<h1>
						{{translation.SYLARDREGISTER.REGISTER}}
					</h1>
					<h3>
						{{translation.SYLARDREGISTER.COMPLETE_FIELDS}}
					</h3>
					<form id="register-form" action="/auth/register/user" method="post" role="form" class="formulario_contenedor">
						<div id="selector_colaborador">
							<p class="label">
									{{translation.SYLARDREGISTER.STATUS}}
							</p>
							<div class="contenedor_switch_formularios">
								<label class="swich_etiqueta_opcion1" for="checkbox" id="switch_usuario_visitante">
									{{translation.SYLARDREGISTER.VISITOR}}
								</label>
								<label class="switch_general">
									<input type="checkbox" name="role" class="checkbox_colaborador" requiered />
									<span class="slider_general round"></span>
								</label>
								<label class="swich_etiqueta_opcion2" for="checkbox" id="switch_usuario_colaborador">
									{{translation.SYLARDREGISTER.CONTRIBUTOR}}
								</label>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="name">
								{{translation.SYLARDREGISTER.NAME}}
							</label>
							<input id="name" name="name" type="text" value="{{name}}" placeholder="Tim" required />
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="last_name">
								{{translation.SYLARDREGISTER.LAST_NAME}}
							</label>
							<input placeholder="Berners" id="lastName" name="lastName" type="text" value="{{lastName}}"
								required />
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="mothers_last_name">
								{{translation.SYLARDREGISTER.MATERNAL_SUR}}
							</label>
							<input placeholder="Lee" id="secLastName" name="secLastName" type="text"
								value="{{secLastName}}">
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="email">
								<span class="icon-email"></span>
								{{translation.SYLARDREGISTER.EMAIL}}
							</label>
							<input id="email" type="email" placeholder="email" name="email" value="{{email}}"
								required />
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="password">
								<span class="icon-lock"></span>
								{{translation.SYLARDREGISTER.PASSWORD}}
							</label>
							<input id="password" type="password" name="password" placeholder="{{translation.SYLARDREGISTER.PASSWORD_PLACEHOLDER}}"
								minlength="6" required />
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="password_confirmation">
								<span class="icon-lock"></span>
								{{translation.SYLARDREGISTER.CONFIRM_PASSWORD}}
							</label>
							<input id="confirmationPassword" name="confirmationPassword" type="password"
								placeholder="{{translation.SYLARDREGISTER.CONFIRM_PASSWORD_PLACEHOLDER_}}" minlength="6" required />
							<div class="contenedor_icono_correcto_input">
								<p>
									<span class="icono_correcto_input icon-check_circle"></span>
								</p>
							</div>
							<div class="contenedor_icono_error_input">
								<p>
									<span class="icono_error_input icon-error"></span>
								</p>
							</div>
						</div>
						<div class="contenedor_inputs">
							<label class="label" for="country">
								{{translation.SYLARDREGISTER.COUNTRY}}
							</label>
							<input type="seacrh" size="5" maxlength="" name="country"
								placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}" id="country" list="countries"
								value="{{country}}">
							<div class="contenedor_icono_correcto_input">
								<p>
									<span id="country_icon_verify" class="icono_error_input icon-error"></span>
								</p>
							</div>
						
							<datalist id="countries">
								{{#each countries}}
								{{#if ../es}}
								<option value="{{name_es}}">
									{{else}}
								<option value="{{name_en}}">
									{{/if}}
									{{/each}}
							</datalist>
						</div>
						<div class="contenedor_inputs" id="lenguas_habladas_input">
							<label class="label" for="lenguas_habladas">
								{{translation.SYLARDREGISTER.LANGUAGUES}}
							</label>
							<input class="input_con_boton_derecha" type="search" id="langSearch"
								placeholder="{{translation.SYLARDREGISTER.SELECT_AN_OPTION}}" list="languages">
							<i class="btn btn-predeterminado btn_input_derecha" id="boton_agregar"
								onclick="register.addSelection()">
								<span class="icon-plus"></span>
							</i>
							<datalist id="languages">
								{{#each nativeLanguages}}
								<option value="{{name}} | {{gid}} | {{iso639P3code}} | {{country_ids}}">
									{{/each}}
							</datalist>
						</div>
						<div class="contenedor_inputs" id="contenedor_inputs_con_boton">
							<label class="label" for="about_you">
								{{translation.SYLARDREGISTER.ABOUT}}
							</label>
							<textarea name="about" placeholder="{{translation.SYLARDREGISTER.WHAT_IS_YOUR_JOB}}" id="about"
								rows="3"></textarea>
						</div>
						<div class="contenedor_inputs" id="lenguas_agregadas_input_seleccionadas">
							<label class="label" for="spokenLanguages">
								{{translation.ADD_LANG}}
							</label>
							<textarea type="text" id="spokenLanguages" name="spokenLanguages" class=""
								placeholder="{{translation.ADD_LANG_}}" rows="3"></textarea>
						</div>
						<div class="">
							<i class="btn btn_input_derecha" id="boton_quitar"
								onclick="formsManager.clearLastSelection()">
								<span class="icon-minus"></span>
							</i>
						</div>
						<!--div>
							<label class="contenedor_checkbox contenedor_terms_registro"> 
								  <input type="checkbox"  class="checkbox_personalizada" required>
									<span class="marca_check"></span>
								</label><label class="label float_left">{{{translation.SYLARDREGISTER.ACEPT_TERMS}}}</label>
						</!--div>
						
						<!--<input class="contenedor_inputs" type="checkbox" required>
						<label class="label" for="lenguas_agregadas">
								{{{translation.SYLARDREGISTER.ACEPT_TERMS}}}
							</label>-->
						<div class="contenedor_botones_registro">
							<button type="submit" class="btn btn-primario float_right">
								{{translation.REG}}
							</button>
							<!--<button type="reset" class="btn btn-secundario float_right">Restablecer</button>-->
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	
//jquery country selector
$(document).ready(function(){
	//	alert("jquery is running");sdffsdf
  $("#country").change(function(){
	  let val_country= $("#country").val();
	  if(val_country=="" || val_country==null){
		  $("#country_icon_verify").removeClass("icono_correcto_input icon-check_circle");
	 $("#country_icon_verify").addClass("icono_error_input icon-error");
	  }
	  else{
    $("#country_icon_verify").removeClass("icono_error_input icon-error");
	 $("#country_icon_verify").addClass("icono_correcto_input icon-check_circle");
	  }
  });
});
</script>

