{{> _publicNavBar}}
  <div class="container-fluid contenedor_carrusel">
    <div class="contenedor_elementos_paginacion_carrusel">
      <div class="contendor_indicadores_carrusel" id="">
        <ol class="indicadores_carrusel">
          <li class="indicador_carrusel_item" onclick="currentSlide(1)"></li>
          <li class="indicador_carrusel_item" onclick="currentSlide(2)"></li>
          <li class="indicador_carrusel_item" onclick="currentSlide(3)"></li>
        </ol>
      </div>
      <nav class="contenedor_botones_carrusel">
        <a class="btn-anterior_lamina" onclick="plusSlides(-1)"><span
            class="icono_carrusel icon-navigate_before"></span></a>
        <a class="btn-siguiente_lamina" onclick="plusSlides(1)"><span
            class="icono_carrusel icon-navigate_next"></span></a>
      </nav>
    </div>
    <div class="container-fluid lamina_carrusel animacion_lamina " id="lamina1">
      <div class="container contendor_hijo_lamina " id="contenedor_hijo_lamina1">
        <div class="columna_fb_60 " id="columna_izquierda_lamina1">
          <h1>SYLARD</h1>
          <h3>Synchronized Language Annotation Result Display</h3>
          <div class="" id="contenedor_parrafo_lamina1">
            <p class="parrafo_grande">{{{translation.SYLARDHOME.CONTENT_ONE}}}</p>
            <p class="parrafo_grande">{{{translation.SYLARDHOME.CONTENT_TWO}}}</p>
          </div>
          <p class="parrafo_grande">{{{translation.SYLARDHOME.REGISTER_CONTENT}}}</p>
          <div>
            <a href="/documentation" class="btn btn-predeterminado">{{translation.SYLARDHOME.READ_MORE}}</a>
            <a href="#" class="btn btn-predeterminado">{{translation.SYLARDHOME.SEE_CATALOGUE}}</a>
            <a href="auth/register" class="btn btn-primario">{{translation.SYLARDHOME.REGISTER}}</a>
          </div>
        </div>
        <div class="columna_fb_40 " id="columna_derecha_lamina1">
          <img class="imagen_lamina1" src="images/ave_huicahapan-01.svg" alt="Ave de Huichapan">
        </div>
      </div>
    </div>
    <div class="container-fluid lamina_carrusel animacion_lamina" id="lamina2">
      <div class="container contendor_hijo_lamina" id="contenedor_hijo_lamina2">
        <div class="columna_fb_55 " id="columna_izquierda_lamina2">
          <h1 class="blanco">{{translation.SYLARDHOME.SYLARD_PROJECT}}</h1>
          <h3 class="blanco">{{translation.SYLARDHOME.OUR_OBJECTIVE}}</h3>
          <div id="contenedor_parrafo_lamina2">
            <p class="parrafo_grande_blanco">{{translation.SYLARDHOME.DESCRIPTION_SYLARD}}</p>
            <p class="parrafo_grande_blanco">{{translation.SYLARDHOME.DESCRIPTION_SYLARD_1}}</p>
            <p class="parrafo_grande_blanco">{{translation.SYLARDHOME.DESCRIPTION_SYLARD_2}}</p>
          </div>
        </div>
        <div class="columna_fb_45 " id="columna_derecha_lamina2">
          <img class="imagen_lamina2" src="images/venado_huchapan-01.svg" alt="Venado de Huichapan">
          <div>
            <h2 class="llamada_blanco">{{translation.SYLARDHOME.SYLARD_FOR_EVERYONE}}</h2>
            <p class="parrafo_grande_blanco">{{translation.SYLARDHOME.SYLARD_CONTENT}}</p>
            <a href="https://github.com/rivalcoba/sylard00" class="btn btn-predeterminado">Github <span class="icon-github"></span></a>
            <a href="#" class="btn btn-predeterminado">{{translation.SYLARDHOME.SOURCE_CODE}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid lamina_carrusel animacion_lamina" id="lamina3">
      <div class="container contendor_hijo_lamina" id="contenedor_hijo_lamina3">
        <div class="columna_fb_45 " id="columna_izquierda_lamina3">
          <img id="imagen_lamina3" src="images/cabra_huichapan.svg" alt="Cabra de Huichapan">
        </div>
        <div class="columna_fb_55 " id="columna_derecha_lamina3">
          <h1 class="color_principal">{{translation.SYLARDHOME.WHY_REGISTER}}</h1>
          <h3>{{translation.SYLARDHOME.THE_RESPONSABILITIES}}</h3>
          <p class="parrafo_grande">{{translation.SYLARDHOME.WE_BELIEVE}}</p>
          <h2 class="llamada" id="llamada_lamina3">{{{translation.SYLARDHOME.OUR_PLATFORM}}}</h2>
          <a href="auth/register" class="btn btn-primario">{{translation.SYLARDHOME.REGISTER}}</a>
          <p class="secundario" id="leyenda_legal_lamina3"><br>{{translation.SYLARDHOME.INFORMATION}}</p>
        </div>
      </div>
    </div>
    </div>


{{!-- SCRIPTS DE PAGINA --}}
{{!-- TODO: MONDRAGON: Poner estos scripts en el webpack --}}

<script>
	var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("lamina_carrusel");
  var dots = document.getElementsByClassName("indicador_carrusel_item");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
	</script>