{{> _publicNavBar}}
<main>
		<div class="container-fluid" id="contenedor_editar_contrasena">
			<div class="extension_fondo_blanco_izquierdo d-sm-none d-md-block"></div>
		<div class="container">
			<div class="row contenedor-90vh" id="fila1_codigo_fuente">
				<div class="col-md-7" id="columna_izquierda_creditos">
				  <div class="columna_izquierda_seccion_standar">
					<h1 class="color_principal h1_para_fijas">{{translation.SOURCE_CODE_VIEW.titulo}}</h1>
						<p class="parrafo_grande">{{translation.SOURCE_CODE_VIEW.parraf1}}</p>
					  <p class="parrafo_grande">{{translation.SOURCE_CODE_VIEW.parraf2}} <a href="mailto:contacto@drakoestudio.com.mx">contacto@drakoestudio.com.mx</a>.</p>
					  <p class="parrafo_grande">{{translation.SOURCE_CODE_VIEW.parraf3}} <a href="mailto:mesolex.director@gmail.com">mesolex.director@gmail.com</a></p>
					  <a class="btn btn-predeterminado" href="https://github.com/rivalcoba/sylard00">{{translation.SOURCE_CODE_VIEW.button}} <span class="icono_boton icon-github"></span></a>			  
				  </div>
				    </div>						
					<div class="" id="columna_derecha_codigo_fuente">
						<img class="" src="images/mascota_hichapan.svg" id="mascota_codigo_fuente" alt="Imagen de animal fantástico de Textil Huichapan">
					</div>
			</div>
	
			</div>
		</div>	
	</main>